@import "~styles/color";

.container {
	margin-top:15rpx;
	text-align:right;
	border-top:2rpx solid #eee;
	padding-top:15rpx;
	line-height:0rpx;

	&.iphoneXTrick {
		padding-bottom: 20rpx;
	}

	.contactBt {
		float: left;
		font-size: 10pt;
		display: flex;
		align-items: center;
		margin-top: 8rpx;
		border: none;
		background-color: transparent;
		line-height: 1.4;
	}

	.contactBt::after {
		display: none;
	}

	.contactIcon {
		$size: 36rpx;

		height: $size;
		width: $size;
		margin-right: 10rpx;
	}

	.statusBt {
		border: 1px solid rgba(112, 112, 112, 1);
		border-radius: 10rpx;
		font-size: 24rpx;
		margin-left: 20rpx;
		display: inline-block;
		color: $titleColor;
		height: 50rpx;
		line-height: 50rpx;
		width: 120rpx;
		background-color: #fff;
		text-align:center;
	}

	.confirmBt, .payBt {
		background-color: $priceColor;
		border: 1px solid $priceColor;
		color: #fff;
	}
}
