@import "~styles/color";

.container {
	padding-top: 20rpx;
	text-align: right;

	&.iphoneXTrick {
		padding-bottom: 20rpx;
	}

	.contactBt {
		float: left;
		font-size: 10pt;
		display: flex;
		align-items: center;
		margin-top: 8rpx;
		border: none;
		background-color: transparent;
		line-height: 1.4;
	}

	.contactBt::after {
		display: none;
	}

	.contactIcon {
		$size: 36rpx;

		height: $size;
		width: $size;
		margin-right: 10rpx;
	}

	.statusBt {
		padding: 15rpx 30rpx;
		border: 1px solid $originalPriceColor;
		font-size: 8pt;
		margin-left: 20rpx;
		display: inline-block;
		color: $titleColor;
		line-height: 1;
		background-color: #fff;

		&.iphoneXTrick {
			padding: 20rpx 35rpx;
		}
	}

	.confirmBt, .payBt {
		background-color: $priceColor;
		border: 1px solid $priceColor;
		color: #fff;
	}
}
