.tplStyleTwo{
	@import '~templates/tplStyleTwo/articleItem/articleItem';

	$searchWrapper: 90rpx; //搜索框高度
	$zeroMarginTop: 20rpx;	//模块间隔高度
	$sideWidth: 30rpx;	//边框距离

	background: #fff;
	
    .container {
    	height: auto;
    	width: 100%;
    	box-sizing: border-box; 
    }
    
    .searchWrapper {
    	height: $searchWrapper;
    	background-color: $mainColor;
    	padding: 15rpx 40rpx;
    	position: fixed;
    	left: 0;
    	width: 100%;
    	top: 0;
    	z-index: 9;

    	.searchIcon {
    		$size: 36rpx;

    		width: $size;
    		height: $size;
    		line-height:$size;
    		margin-right: 20rpx;
    	}

    	.search {
    		height: 60rpx;
    		text-align: center;
    		font-size: 26rpx;
    		color: #707070;
    		background-color: #fff;
    		border-radius: 5rpx;
            border: none;
    		line-height: 60rpx;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    	}
    }

    .main {
    	margin-top: $searchWrapper;
    }

    .zeroMarginTop {
    	margin-top: -$zeroMarginTop;
	}
	.MarginTop{
		margin-top: $zeroMarginTop;
	}

    .banner,.banner button, .banner image {
    	width: 100%;
    	height: 100%;
	}
	.banner{
		margin-top: $zeroMarginTop;
	}
    .flashItem .meta{
    	padding: 40rpx;
    }

    .couponsWrapper {
    	z-index: 9;
		margin: $zeroMarginTop $sideWidth;
		
    	.coupons {
    		display: flex;
    	}
    	.coupon {
    		width: 296rpx;
    		height: 136rpx;
    		position: relative;
    		line-height: 1.2;
		}
		.coupon:nth-child(1){
			margin-right: 20rpx;
		}
    	.moreCoupon{
    		width: 78rpx;
    		height: 136rpx;
    		position: relative;
    		line-height: 1.2;

    		.moreBtn{
    			position:absolute;
    			width:20rpx;
    			color:#707070;
    			font-size:20rpx;
    			left:40rpx;
    			top:26rpx;
    		}
    	}

    	.couponInfoList {
    		position: absolute;
    		z-index: 2;
    		color: #fff;
    		height: 136rpx;
    		width: 296rpx;
    		display: flex;
			line-height: 1.2;
			
    		.couponInfo {
    			position: absolute;
    			z-index: 2;
    			height: 136rpx;
    			width: 176rpx;
    			display: flex;
    			justify-content: center;
    			align-items: center;
    			flex-direction: column;

				.reduce{
					.reduceCost {
						font-size: 44rpx;
					}
					.discount{
						font-size: 20rpx;
					}
				}
    			.title {
    				font-size: 22rpx;
    			}
    		}
			.right {
				position: absolute;
				right: 0;
				top: 0;
    			z-index: 2;
    			height: 136rpx;
    			width: 120rpx;
    			display: flex;
    			justify-content: center;
    			align-items: center;
				flex-direction: column;
				
				.title{
					font-size: 28rpx;
					font-weight: bold;
					padding-bottom: 12rpx;
					width:100%;
					text-align:left;
				}
    			.btn{
					font-size: 18rpx;
					text-align: center;
					background: #FCBA20;
					height: 36rpx;
					line-height: 36rpx;
					width: 100%;
				}
				.able{
					background: #FB4762;
				}
				.unable{
					background: #707070;
				}
    		}
    	}

    	.bg {
    		width: 296rpx;
    		height: 136rpx;
    		position: absolute;
    		z-index: 1;
    	}
	}
	.firstCoupon{
    	padding-top: 20rpx;
	}
	.secondCoupon{
    	padding-top: $zeroMarginTop;
    }

    .section {
        background-color: #fff;
		margin-top: $zeroMarginTop;
		padding-top: 30rpx;

    	.sectionTitle {
    		padding-bottom:10rpx;
    		color:#000000;
			font-size: 36rpx;
			font-weight: bold;
			border-bottom: 1rpx solid #C2C2C2;
			margin: 0 30rpx 30rpx;
    	}
		.grouponContainer{
			margin: 0 30rpx;
		}

    	.sectionMore {
    		height: 80rpx;
    		line-height: 80rpx;
    		color: $titleColor;
    		padding: 10rpx 0;

    		.form {
    			width: 100%;
    		}

    		.moreButton{
    			font-size:30rpx;
				background:$mainColor;
				color:#fff;
				height:60rpx;
				line-height:60rpx;
				margin:0 30rpx;
				border-radius:40rpx;
    		}
    	}

    	.rightIcon {
    		width: 14rpx;
    		height: 20rpx;
    		margin-left: 10rpx;
    	}
    }

    .starProductItem {
    	margin-bottom: 15rpx;
    	width: 100%;
    	height: 100%;
    }

    button{
    	margin: 0;
    	padding: 0;
    	border: none;
    	outline: none;
    	border-radius: 0;
    }

    button::after {
    	outline: 0;
    	border-radius: 0;
    	border: 0;
    }

    .bottomHint {
    	text-align: center;
    	color: #ccc;
    	font-size: 10pt;
    	padding:40rpx 0 0 20rpx;
    	margin-bottom: 20rpx;
    }

    /* 首页分类 */
    .categoryBox{
    	padding: 0 15rpx 39rpx;
    	width: 100%;
    	display: flex;
      	justify-content: flex-start;
    	flex-flow: row wrap;
    	align-items: center;
    	text-align: center;
    	.homeCategory{
    		flex-direction: column;
    		.categoryItem{
    			padding: 42rpx 35rpx 0;
    			line-height: 0;

    			.categoryImg{
    				width: 110rpx;
    				height: 110rpx;
    				border-radius: 5rpx;
    			}
    		}
    		.categoryBtn{
    			background-color:transparent;
    			color: 333333;
    			font-size: 24rpx;
    		}
    		.categoryTitle{
    			padding-top: 12rpx;
    			font-size: 24rpx;
    			color: #333333;
    			width: 180rpx;
    			overflow: hidden;
    			white-space: nowrap;
    			text-overflow: ellipsis;
    			font-weight: normal;
    		}
    	}
    }

    .iphoneXTrick {
		padding-bottom: 1rpx; 
	}

	/* 商品列表 */
    .productContainer{
    	display: flex;
    	padding: 0 30rpx;
    	flex-wrap: wrap;
    	justify-content: space-between;
    }

    /* 服务说明 */
    .instructions{
        display: flex;
        justify-content: space-around;
        background: #fff;
        height: 70rpx;
        align-items: center;

        .instructions-item{
			display: flex;
			align-items: center;
            image{
                width: 20rpx;
                height: 20rpx;
            }
            view{
                padding-left: 10rpx;
                display: inline;
                font-size: 20rpx;
                color: #707070;
            }
        }
    }
    .announcement{
        display: flex;
        height: 70rpx;
        align-items: center;
		background: #FFF9EC;
		font-size: 22rpx;
		color: #000000;
	
		.infoIcon{
			margin: 0 14rpx 0 30rpx;
			width: 48rpx;
			height: 35rpx;
		}
		
	}

	@keyframes marque {
    	0% {
    	    transform: translateX(0);
    	}
    	100% {
    	    transform: translateX(-33.3%);
    	}
	}
	.marquee {
		width: 100%;
  		display: block;
  		overflow: hidden;
  		white-space: nowrap;
  		text-overflow: clip;
		position: relative;
		  
		.content {
			display: inline-block;
			position: relative;
			padding-right: 0px;
			white-space: nowrap;
			animation-name: marque;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		.content-space{
			display: inline-block;
			width: 300px;
		}
	}
}