.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 200rpx;

	.text {
		font-size: 18px;
		text-align: center;
		margin: 28px 0;
	}

	.confirmBt, .cancelBt {
		width: 88%;
	}

	.cancelBt {
		margin-top: 15px;
	}

}
