.popup-content {
	display: flex;
	justify-content: center;
	align-items: center;
	.box {
		display: flex;
		align-items: center;
		.box-img {
			margin-right: 20rpx;
		}
		.box-title {
			line-height: 60rpx;
		}
	}
}
