page {
	height: 100%;
}

.pictue-wrap {
	height: 100%;

	.rule-image {
		width: 100%;
		height: 100%;
	}

	.noDataText {
		width: 100%;
		height: 100%;
		font-size: 30rpx;
		text-align: center;
		padding-top: 200rpx;
		color: #707070;
	}
}