.container {
	.address {
		margin: 24rpx;
		margin-bottom: 300rpx;

		.radio-wrap {
			background-color: #fff;
			display: block;
			margin: 24rpx 0;
			border-radius: 16rpx;
			position: relative;
			padding-right: 110rpx;
			padding-left: 24rpx;

			.radio-icon {
				padding: 24rpx;
			}

			.radio-label {
				padding: 24rpx 0;
			}

			.radio-middle {

				.middle-top {
					font-size: 32rpx;
					margin-bottom: 16rpx;
				}

				.middle-bottom {
					font-size: 26rpx;
				}
			}

			.radio-right {
				position: absolute;
				width: 88rpx;
				right: 0rpx;
				top: 50%;
				transform: translateY(-50%);
				display: flex;
				padding: 24rpx;
				padding-right: 48rpx;
				justify-content: center;
				align-items: center;
			}

		}
	}

	.btns {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 32rpx;
		background-color: transparent;

		.btn {
			color: white;
			line-height: 76rpx;
			border-radius: 38rpx;
			background-color: #ee0a24;
			margin: 2rpx 32rpx 40rpx;
		}

		.wechat-add {
			background-color: #07c160;
		}
	}
}