.tplStyleFour{
	@import '~templates/tplStyleFour/articleItem/articleItem';
	
	background: #fff;

	$searchWrapper: 90rpx; //搜索框高度
	$zeroMarginTop: 40rpx;	//模块间隔高度
	$sideWidth: 40rpx;	//边框距离
	
    .container {
    	height: auto;
    	width: 100%;
    	box-sizing: border-box; 
    }
    
    .searchWrapper {
    	height: $searchWrapper;
    	background-color: transparent;
    	padding: 12rpx 40rpx;
    	position: fixed;
    	left: 0;
    	width: 100%;
    	top: 0;
    	z-index: 9;
	}
	.searchIcon {
		$size: 28rpx;

		width: $size;
		height: $size;
		line-height:$size;
		margin-right: 20rpx;
	}

	.search {
		height: 60rpx;
		text-align: center;
		font-size: 22rpx;
		color: #707070;
		background-color: #fff;
		border-radius: 100rpx;
		line-height: 60rpx;
		display: flex;
		justify-content: center;
		align-items: center;
	}

    .main {
    	margin-top: $searchWrapper;
    }

    .zeroMarginTop {
    	margin-top: -$zeroMarginTop;
	}
	.MarginTop{
		margin-top: $zeroMarginTop;
	}
	
	.searchSliders{
		position: relative;
		.searchBox{
			height: auto;
			background-color:transparent;
			padding:0 40rpx;
			position: absolute;;
			left:0;
			width:100%;
			top: 20rpx;
			z-index:9;
		}

		.dots{
			position: absolute;
			bottom: 24rpx;
			display: flex;
			justify-content: center;
		}
		.dots .dot{
			$size: 16rpx;

			margin: 0 8rpx;
			width: $size;
			height: $size;
			background: #fff;
			border-radius: 8rpx;
			transition: all .6s;
		}
		.dots .dot.active{
			background: #45424E;
		}

	}
	.banner{
		margin-top: $zeroMarginTop;
	}
    .banner,.banner button, .banner image {
    	width: 100%;
    	height: 100%;
    }
    .flashItem .meta{
    	padding: 40rpx;
    }

	/* 优惠券 */
    .couponsWrapper {
		margin: 60rpx 40rpx;
		border-bottom: 2rpx solid #C2C2C2;
		
    	.coupons {
			display: flex;
			justify-content: space-between;
    	}
    	.coupon {
    		width: 320rpx;
    		height: 160rpx;
    		position: relative;

			.couponInfoList {
				display: flex;
				justify-content: space-around;
				color: #fff;
				background: #fff;
				height: 160rpx;
				width: 320rpx;

				.left{
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					line-height: 1;
					z-index: 2;
					padding-left: 10rpx;
					.reduce{
						.reduceCost {
							font-size: 64rpx;
							font-weight: lighter;
						}
						.discount{
							font-size: 28rpx;
						}
	
					}
					.title{
						font-size: 28rpx;
					}
				}
				.right {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					z-index: 2;
					line-height: 2;

					.least{
						font-size: 20rpx;
					}
					.btn{
						width: 96rpx;
						height: 26rpx;
						line-height: 26rpx;
						border-radius: 14rpx;
						background: #fff;
						font-size: 18rpx;
						font-weight: bold;
						color: #FB4762;
						text-align:center;
					}
					.unable{
						color: #000000;
					}
				}
				.bg {
					width: 320rpx;
					height: 160rpx;
					position: absolute;
					z-index: 1;
				}
			}
		}

		.moreCoupon{
			display: flex;
			height: 40rpx;
			width: 160rpx;
			align-items: center;
			justify-content: center;
			margin: 30rpx auto;
			view{
				font-size: 28rpx;
				color: #000000;
				padding-right:8rpx;
			}
			image{
				width: 20rpx;
				height: 20rpx;
				transform: rotate(90deg);
			}
			
		}
	}
	
    .firstCoupon{
    	padding-top: $zeroMarginTop;
    }

    .section {
		margin: 60rpx $sideWidth 0;
		padding-bottom: 60rpx;
		border-bottom: 2rpx solid #C2C2C2;

    	.sectionTitle {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
    		color:#000000;
			font-size: 40rpx;
			font-weight: bold;
			height: 56rpx;
    	}

		.grouponContainer{
			.grouponItem{
				margin: 10rpx 0 20rpx;
			}
			/* .grouponItem:nth-child(3n-2){
				margin-right: 20rpx;
			}
			.grouponItem:nth-child(3n+0){
				margin-left: 20rpx;
			} */
		}

		.miaoshaContainer{
			display: flex;
    		flex-wrap: wrap;
			justify-content: space-between;
			.miaoshaItem{
				margin-bottom: 10rpx;
			}
		}

    	.sectionMore {
    		.form {
    			width: 100%;
    		}
    		.moreButton{
				background:#fff;
				color: #707070;
				display: flex;
				height: 40rpx;
				width: 160rpx;
				align-items: center;
				justify-content: center;
				margin: 8rpx auto 50rpx;
				view{
					font-size:28rpx;
					color:#000000;
					padding-right:8rpx;
				}
				image {
    				width: 20rpx;
    				height: 20rpx;
    				transform: rotate(90deg);
				}
    		}
    	}

    	.rightIcon {
    		width: 14rpx;
    		height: 20rpx;
    		margin-left: 10rpx;
    	}
    }

    .starProductItem {
    	margin-bottom: 15rpx;
    	width: 100%;
    	height: 100%;
    }

    button{
    	margin: 0;
    	padding: 0;
    	border: none;
    	outline: none;
    	border-radius: 0;
    }

    button::after {
    	outline: 0;
    	border-radius: 0;
    	border: 0;
    }

    .bottomHint {
    	text-align: center;
    	color: #ccc;
    	font-size: 10pt;
    	padding:40rpx 0 0 20rpx;
    	margin-bottom: 20rpx;
    }

    /* 首页分类 */
    .categoryBox{
		background: #fff;
    	display: flex;
		flex-flow: row wrap;
		// margin: 30rpx;
    	// align-items: center;
    	// text-align: center;
		// width: 650rpx;
		// margin: 0 auto;
		margin: 60rpx 40rpx;
		border-bottom:2rpx solid #C2C2C2;
		
		.homeCategory:nth-child(5n){
			margin-right: 0;
		}
    	.homeCategory{
			display:flex;
			justify-content:space-between;
			flex-direction: column;
			align-items:center;
			width:135rpx;
			height: 154rpx;
			margin-bottom: 46rpx;

    		.categoryItem{
    			.categoryImg{
    				width: 110rpx;
    				height: 110rpx;
    			}
    		}
    		.categoryBtn{
				width: 110rpx;
    			height: 110rpx;
    			background-color:transparent;
    			color: 333333;
    			font-size: 24rpx;
				line-height: 0;
    		}
    		.categoryTitle{
    			font-size: 24rpx;
    			color: #333333;
    			overflow: hidden;
    			white-space: nowrap;
    			text-overflow: ellipsis;
				font-weight: normal;
				width:130rpx;
				text-align: center;
    		}
    	}
    }

    .iphoneXTrick {
		padding-bottom: 1rpx; 
	}

	/* 商品列表 */
    .productContainer{
    	display: flex;
    	flex-wrap: wrap;
		justify-content: space-between;
	}
	/* 服务说明 */
    .instructions{
        display: flex;
        justify-content: space-around;
        background: #fff;
        height: 70rpx;
        align-items: center;

        .instructions-item{
            image{
                width: 20rpx;
                height: 20rpx;
            }
            view{
                padding-left: 10rpx;
                display: inline;
                font-size: 20rpx;
                color: #707070;
            }
        }
    }
    .announcement{
        display: flex;
        height: 70rpx;
        align-items: center;
        background: #FFF9EC;
        
        image{
            margin: 0 14rpx 0 30rpx;
            width: 48rpx;
            height: 35rpx;
        }
        view{
            font-size: 22rpx;
            color: #000000;
        }
	}
}