.coupon-detail{
  .coupon-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36rpx 24rpx 38rpx 48rpx;
    background: #FFFFFF;
    color: #B0B3BF;
    margin-bottom: 16rpx;
    // border: 1rpx solid #FE4F06;
    .coupon{
      display: flex;
      flex-direction: column;
      font-size: 24rpx;
      font-weight: 400;
      font-family: PingFangSC-Regular, PingFang SC;
      .isThreshold{
        color: #B0B3BF;
      }
    }
    .coupon-num{
      width: 18%;
      .price{
        color: #FE4F06;
        font-size: 24rpx;
        .num{
         font-size: 38rpx;
         font-weight: 500;
        font-family: PingFangSC-Medium, PingFang SC;

        }
      }
      .discount{
        padding-left: 10rpx;
        font-size: 32rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #FE4F06;
      }
    }
    .coupon-desc{
      width: 50%;
      .desc{
        font-size: 28rpx;
        font-weight: 400;
        color: #111111;
        padding-bottom: 8rpx;
      }
      
    }
    .coupon-isUse{
      width: 20%;
      text-align: end;
      display: flex;
      justify-content: center;
      color: #FE4F06;
    }
    .btn{
      width: 20%;
      display: flex;
      flex-direction: row-reverse;
      .use-btn{
        width: 104rpx;
        height: 60rpx;
        background: #FFFFFF;
        border-radius: 8rpx;
        border: 2rpx solid #9F9F9F;
        font-size: 28rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 60rpx;
      }
    }
    
   
  }
  .heightLight{
    border: 1rpx solid #FE4F06;
  }
  .confirm-btn{
    position: fixed;
    bottom: 0;
    @supports (bottom: env(safe-area-inset-bottom)) {
        bottom: env(safe-area-inset-bottom);
      }
    width: 702rpx;
    height: 88rpx;
    background: #FE4F06;
    border-radius: 8rpx;
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 88rpx;
    margin: 0 24rpx;
  }
}