@import '~styles/color';

$footerHeight: 100rpx;

.container {
	padding-bottom: $footerHeight + 40rpx;
}

.statusBar {
	$height: 80rpx;
	background-color: $mainColor;
	color: #fff;
	font-size: 10pt;
	height: $height;
	z-index: 10000;

	.statusItem {
		width: 50%;
		display: inline-block;
		text-align: center;
	}

	.statusItemName {
		margin: 0 auto;
		height: $height;
		line-height: $height;
		display: inline-block;

		&.selected {
			border-bottom: 4px solid #fff;
		}
	}
}

.emptyHint {
	padding-top: 320rpx;
	color: #ccc;
	font-size: 12pt;
	text-align: center;

	// .couponBt {
	// 	width: 600rpx;
	// 	background-color: $mainColor;
	// 	color: #fff;
	// 	margin: 40rpx auto 0 auto;
	// 	padding: 20rpx 0;
	// }
}

.couponList {
	padding: 40rpx 25rpx;
	.couponItemWrapper{
		margin:25rpx auto 0;
		width:650rpx;
	}
}

.footer {
	// height: $footerHeight;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	// background: #eee;
	z-index: 2;
	border-top: 1px solid #eee;
	padding: 20rpx 0;

	&.iphoneXTrick {
		padding-bottom: 60rpx;
	}

	.cofirmBt {
		width: 650rpx;
		height: 90rpx;
		line-height: 90rpx;
		font-size: 30rpx;
		color: #fff;
		background-color: $couponMainColor;
		border-radius: 10rpx;
	}
}


