{
	"presets": [
		"@babel/env"
    ],
	"plugins": [
		["import", {
			"libraryName": "peanut-all",
            "camel2UnderlineComponentName": false,
            "camel2DashComponentName": false
		}],
		["@babel/plugin-transform-runtime", {
            "helpers": false,
            "regenerator": true
        }
    	],
		"lodash",
		["module-resolver", {
			"root": ["./src"],
		}]
	]
}
