.container {
	width: 100%;
	
	.consoleBtn {
		position: fixed;
		width: 200rpx;
		height: 50rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #fff;
		border-radius: 6rpx;
		top: 80%;
		right: 5rpx;
		background: #21C11F;
		z-index: 10002;
		color: #fff;
	}

	.consoleWrap {
		position: fixed;
		width: 100%;
		background: #fff;
		overflow: hidden;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		font-size: 20rpx;
		z-index: 10002;

		.consoleHead {
			height: 80rpx;
			display: flex;
			background: #fff;
			flex-direction: row;
			width: 100%;
			border-top: 1rpx solid #c9c9c9;

			.consoleHeadItem {
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 80rpx;
			}
		}

		.consoleBody {
			flex: 1;
			border-top: 1rpx solid #c9c9c9;
			height: 500rpx;
			.consoleItem {
				border-bottom: 1rpx solid #c9c9c9;
				padding: 10rpx;
				width: 100%;
				word-wrap: break-word;
				position: relative;

				.copy {
					background-color: #21C11F;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 25rpx;
				}

				.zhedie {
					color: #21C11F;
					background-color: #ff80ff;
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 25rpx;
				}

				.content {
					padding-left: 40rpx;
					display: inline-block;
				}
			}
		}
	}

	.search {
		width: 100%;
		height: 50rpx;
		border-top: 1rpx solid #c9c9c9;
		// margin: 0 auto;
		//border-radius: 60rpx;
		padding-left: 30rpx;
	}
	.lightText {
		color: #21C11F;
	}
}