@import '~styles/color';

.container {
	padding: 20rpx 50rpx 70rpx 50rpx;
	background-color: #F4F4F4;
}

.canvasWrap {
	width: 100%;
	height: 900rpx;
	background-color: #fff;
	border-radius: 10rpx;
}

.btnWtap {
	margin-top: 100rpx;
	display: flex;
	justify-content: space-between;
}

.btn {
	flex: 1;
	max-width: 300rpx;
	height: 70rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #729153;
	border-radius: 10rpx;
	color: #fff;
	font-size: 32rpx;
}