
.container{
	height: 100%;
	.nav{
		height: 100%;
	}
	.call{

		height: 100%;
	}
	.btn{
		border: none;
		background-color: transparent;
		display: block;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}