@import '~styles/color';
.container {
	width: 710rpx;
	height: 130rpx;
	margin: 20rpx;
	position: relative;

	.background-image {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
	}

	.container-text {
		font-size: 32rpx;
		color: $shareColor;
		position: absolute;
		top: 43rpx;
		left: 198rpx;
		// z-index: 999;
		font-weight: bold;
	}
}
