@import '~styles/color';
@import '~templates/articleItem/articleItem';

page{
	background: #fff;
	height: 100%;
}
.wrap{
	height: 100%;
}
.container{
	padding-top: 90rpx;
}
.listWrapper {
	height: 100%;
	.m-img{
		width: 100%;
		height: auto;
	}
}
.noHint {
	text-align: center;
	color: $originalPriceColor;
	width: 100%;
	padding-top: 220rpx;
	height: 100%;
}
