/* pages/articleList/articleList.wxss */
@import '~styles/color';
@import '~templates/articleItem/articleItem';
page{
	background:#fff;
}
.container{
	position: relative;
	height: 100%;
}
.articleList{
	padding-top:120rpx;
}
.container .navbar{
	background: $mainColor;
	width: 100%;
	color: #fff;
	height: 60rpx;
	line-height: 54rpx;
	
}
.navSelected{
	border-bottom: 6rpx solid #fff;
}
.conc{
	margin-top:62rpx;
}

.scrollSegmentcontrol{
	position: fixed;
	top: 0;
	background-color: $mainColor;
	color: #fff;
	left: 0;
	white-space: nowrap;
	.category{
		/*padding:10rpx 24rpx;
		flex-shrink: 0;
		float: left;
		display: inline-block;*/
		flex-shrink: 0;
		padding:20rpx 16rpx;
		margin:0rpx 20rpx;
		margin-bottom:0;
		display: inline-block;
	}
}