.container {
	padding: 0 85rpx;
	.shop{
		display: flex;
		align-items: center;
		padding: 60rpx 0 40rpx;
		.avatar{
			width: 70rpx;
			height: 70rpx;
			border-radius: 100%;
		}
		.title{
			padding-left: 25rpx;
			font-size: 32rpx;
			color: #333333;
			font-weight: bold;
		}
	}
	.input_money{
		background: #fff;
		width: 580rpx;
		height: 115rpx;
		border: 2rpx solid #999999;
		border-radius: 8rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 41rpx 0 41rpx 34rpx;

		.title{
			font-size: 24rpx;
			font-weight: bold;
			color: #707070;
		}
		.money{
			display: flex;
			align-items: center;
			font-size: 48rpx;
			font-weight: bold;
			color: #000000;

			.num{
				width: 165rpx;	
				height:100rpx;
			}
		}
	}
	.confirmPay{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 550rpx;
		height: 98rpx;
		background: #d4d4d4;
		color: #fff;
		font-size: 36rpx;
		font-weight: bold;
		border: 1rpx solid #C2C2C2;
		border-radius: 10rpx;
		margin: auto;
		margin-top: 50rpx;
	}
}