.textList {
    font-size: 24rpx;
    color: #333;
    background-color: white;
    padding: 0 30rpx;
    
	.title {
        font-size: 35rpx;
		font-weight: bold;
		padding: 26rpx 0;
		text-align: center;
	}
    
	.list {
        padding: 30rpx;
		border: 1rpx solid #E4E4E4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

		.list-item {
			display: flex;
			align-items: center;
			margin-bottom: 25rpx;

            .item-icon-img {
                width: 30rpx;
                height: 30rpx;
            }

			.link-text {
                color: #000;
                margin-left: 10rpx;
				font-size: 24rpx;
				padding: 6rpx 0;
			}
		}
    }
    
    .horizontal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .list-item {
            margin-bottom: 0;
        }

        .link-text {
            margin-left: 10rpx;
        }
    }
}

.textWrapper {
    margin: 50rpx 0;
}