.textList {
    font-size: 24rpx;
    color: #333;
    background-color: #fff;
	.title {
        font-size: 35rpx;
		font-weight: bold;
		padding: 26rpx 25rpx 0;
		text-align: center;
	}

	.list {
        padding: 30rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

		.list-item {
			display: flex;
			align-items: center;
			margin-bottom: 25rpx;

            .item-icon-img {
                width: 20rpx;
                height: 20rpx;
            }

			.link-text {
                color: #000;
                margin-left: 10rpx;
				font-size: 24rpx;
                padding: 6rpx 0;
                flex: 1;
                word-break: break-all;
            }

            .btn {
                background-color: #fff;
            }

            &:last-child {
                margin-bottom: 0;
            }
		}
    }

    .horizontal {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        height: 70rpx;
        align-items: center;
        padding: 0 10rpx;

        .list-item {
            display: flex;
            align-items: center;

            .item-icon-img {
            	width: 20rpx;
            	height: 20rpx;
            }
        }

        .link-text {
            margin-left: 10rpx;
            display: inline;
            font-size: 26rpx;
            color: #707070;
            word-break: break-all;
        }
    }
}
.top-radius {
	border-top-left-radius: 10rpx;
	border-top-right-radius: 10rpx;
}
.bottom-radius {
	border-bottom-right-radius: 10rpx;
	border-bottom-left-radius: 10rpx;
}