@import "~styles/color";
.container {
	padding: 20rpx;

	.cell-group{
		border-radius: 16rpx;
		overflow: hidden;
	}

	.textarea{
		min-height: 100rpx;
	}

	.btnWrap {
		text-align: center;
		margin-top: 30rpx;
		.btn{
			color: #fff;
			width: 400rpx;
			background: $mainColor;
		}
	}
}
.van-picker__cancel,
.van-picker__confirm {
	color: $weixinColor !important;
}