@import '~styles/color';

.header {
	padding-bottom: 60rpx;
	position: relative;
	margin-bottom: 55rpx;
	// background-color: #729153;

	.head-signin {
		display: flex;
		align-items: center;
		padding: 20rpx 30rpx;

		.signin-item {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24rpx;
			margin-right: 20rpx;
			background-color: transparent;
			color: #fff;
			.signin-img{
				width: 40rpx;
				height: 40rpx;
				margin-right: 6rpx;
			}
		}
	}
	.header-top {
		padding: 30rpx 50rpx;
		text-align: center;
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.head-button {
			// background-color: #729153;
			display: flex;
			// flex-direction: column;
			align-items: center;

			.avatar {
				$size: 120rpx;
				width: $size;
				height: $size;
				border-radius: 50%;
				border: 1rpx solid #F1F1F1;
				overflow: hidden;
				background-repeat: no-repeat;
				background-size: cover;
			}

			.head-text {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin-left: 16rpx;
				margin-bottom: 10rpx;

				.head-user {
					font-size: 26rpx;
					font-weight: bold;
					color: #fff;
					height: 60rpx;
					max-width: 200rpx;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					margin-bottom: 10rpx;
				}

				.head-level {
					width: 110rpx;
					height: 30rpx;
					border-radius: 14rpx;
					background-color: #333;
					color: #fff;
					font-size: 20rpx;
					text-align: center;
					line-height: 30rpx;
					border: 1px solid #333;
				}
			}
		}

		.welfare {
			line-height: 1.7;

			.number {
				font-size: 32rpx;
				font-weight: bold;
			}

			.title {
				font-size: 28rpx;
			}
		}
	}
	.header-bottom {
		position: absolute;
		bottom: -40rpx;
		height: 80rpx;
		width: 720rpx;
		margin: 0 16rpx;
		padding: 0 36rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		border-radius: 10rpx;
		color: #333333;

		.head-tip{
			display: flex;
			align-items: center;
			font-size: 28rpx;
			.tip-image{
				width: 60rpx;
				height: 60rpx;
				margin-right: 16rpx;
			}
		}

		.head-btn {
			font-size: 22rpx;
			text-align: center;
			background-color: #fff;
		}
	}
	&.none-vip{
		margin-bottom: 15rpx;
		padding-bottom: 20rpx;
	}
}
