@import '~styles/color';
.header {
	padding: 36rpx;
	text-align: center;
	background-color: $mainColor;
	color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20rpx;
	border-radius: 10rpx;
	.head-button {
		background-color: $mainColor;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.welfare{
		line-height: 1.7;
	}
	.number{
		font-size: 36rpx;
		font-weight: bold;
	}
	.title{
		font-size: 28rpx;
	}

	.avatar {
		$size: 120rpx;
		width: $size;
		height: $size;
		border-radius: 50%;
		border: 1rpx solid #F1F1F1;
		margin-bottom: 10rpx;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.text {
		color: #fff;
		font-size: 24rpx;
	}

	.unlogin{
		border: none;
	}

	.loginBt {
		width: 250rpx;
		padding: 10rpx 0;
		display: inline-block;
		color: #fff;
		font-size: 14px;
	}
}