@import '~styles/color';
.header {
	margin: 20rpx;
	border-radius: 10rpx;
	background-color: #729153;

	.header-top {
		padding: 30rpx;
		text-align: center;
		color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.head-button {
			background-color: #729153;
			display: flex;
			// flex-direction: column;
			align-items: center;
	
			.avatar {
				$size: 120rpx;
				width: $size;
				height: $size;
				border-radius: 50%;
				border: 1rpx solid #F1F1F1;
				overflow: hidden;
				background-repeat: no-repeat;
				background-size: cover;
			}
	
			.head-text {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				margin-left: 16rpx;
				margin-bottom: 10rpx;
	
				.head-user {
					font-size: 26rpx;
					font-weight: bold;
					color: #fff;
					height: 60rpx;
					max-width: 200rpx;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					margin-bottom: 10rpx;
				}
	
				.head-level {
					width: 110rpx;
					height: 28rpx;
					border-radius: 14rpx;
					background-color: #fff;
					color: #DE4E24;
					font-size: 20rpx;
					text-align: center;
					line-height: 28rpx;
					border: 1px solid #fff;
				}
			}
		}

		.welfare {
			line-height: 1.7;

			.number {
				font-size: 32rpx;
				font-weight: bold;
			}

			.title {
				font-size: 28rpx;
			}
		}
	}
	.header-bottom {
		height: 100rpx;
		padding: 32rpx;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border-top: 1px solid #fff;
		
		.head-btn,
		.head-signin {
			width: 150rpx;
			height: 50rpx;
			color: #FFFFFF;
			font-size: 28rpx;
			background-color: #D7D7D7;
			border-radius: 25rpx;
			text-align: center;
			line-height: 50rpx;
		}

		.head-btn {
			color: #333333;
			background-color: #fff;
		}
	}
}