.page {
  background-color: rgba(244, 246, 250, 1);
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .shop-swiper {
    position: relative;
    width: 750rpx;
    height: 750rpx;
    .swiper-img{
      width: 750rpx;
      height: 750rpx;
    }
    .swiper-pageNum {
      position: absolute;
      right: 20rpx;
      bottom: 20rpx;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 20rpx;
      display: flex;
      flex-direction: column;
      padding: 6rpx 22rpx;
      .number {
        overflow-wrap: break-word;
        color: rgba(255, 255, 255, 1);
        font-size: 20rpx;
        font-family: PingFangSC-Regular;
        font-weight: normal;
        text-align: right;
        white-space: nowrap;
        line-height: 28rpx;
      }
    }
  }


  .shop-time {
    position: relative;
    .time-img{
      width: 100%;
      height: 160rpx;
    }
    .time{
      position: absolute;
      top: 0;
      display: flex;
      justify-content: space-between;
      padding: 28rpx 20rpx;
      width: 100%;
      height: 160rpx;
        .time-text {
        font-size: 28rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 40rpx;
        .order{
          margin-top: 8rpx;
          .order-box{
            width: 188rpx;
            background: #FFFFFF;
            border-radius: 28rpx;
            color: #FE4F06;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            padding: 8rpx 24rpx;
            margin-left: 12rpx;
            .order-number{
              font-size: 40rpx;
            }
          }
        }
      }
    .countdown{
      display: block;
      font-size: 24rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      text-align: end;
      .countdown-time{
        .van-count-down{
          color: #ffffff;
        }
        .item {
            display: inline-block;
            color: #FE4F06;
            font-size: 24rpx;
            text-align: center;
            background: #FFFFFF;
            border-radius: 8rpx;
            width: 40rpx;
            height: 40rpx;
            margin: 0 10rpx;
          }
      }
     
    }  
    }
  
  }

 
  .shop-detail {
    margin: 24rpx 20rpx;
    background: #FFFFFF;
    border-radius: 16rpx;
    padding: 16rpx 28rpx 16rpx;
    .shop-price {
      display: flex;
      align-items: baseline;
      .coupon {
        overflow-wrap: break-word;
        color: rgba(254, 79, 6, 1);
        font-size: 30rpx;
        font-family: PingFangSC-Regular;
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        // margin-top: 24rpx;
        .coupon-price {
          overflow-wrap: break-word;
          font-size: 56rpx;
          font-family: PingFangSC-Semibold;
          font-weight: 600;
          text-align: left;
          white-space: nowrap;
        }
      }
      .original-price {
        overflow-wrap: break-word;
        color: rgba(153, 156, 167, 1);
        font-size: 30rpx;
        font-family: PingFangSC-Regular;
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        margin: 0 0 0 24rpx;
      }
    }

    .shop-desc {
      height: 88rpx;
      overflow-wrap: break-word;
      color: rgba(17, 17, 17, 1);
      font-size: 32rpx;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      text-align: left;
      line-height: 44rpx;
      margin-top: 12rpx;
    }
    .desc-size {
      height: 64rpx;
      color: rgba(176, 179, 191, 1);
      font-size: 24rpx;
      font-family: PingFangSC-Regular;
      font-weight: normal;
      line-height: 32rpx;
    }
    .line {
      background-color: rgba(235, 237, 240, 1);
      height: 2rpx;
      margin-top: 24rpx;
      display: flex;
      flex-direction: column;
    }
    .free-shipping {
      margin-top: 24rpx;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      .shipping-text {
        overflow-wrap: break-word;
        color: rgba(176, 179, 191, 1);
        font-size: 24rpx;
        font-family: PingFangSC-Regular;
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        line-height: 34rpx;
      }
      
    }
  
   
  }

  .shop-discount {
    margin: 0rpx 20rpx;
    background: #FFFFFF;
    border-radius: 16rpx;
    .shop-serve {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 16rpx;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      padding: 28rpx 28rpx 32rpx 28rpx;
    }
    .serve-title {
      overflow-wrap: break-word;
      color: rgba(17, 17, 17, 1);
      font-size: 28rpx;
      font-family: PingFangSC-Regular;
      font-weight: normal;
      text-align: left;
      white-space: nowrap;
      line-height: 40rpx;
      margin-right: 32rpx;
    }
    .serve-content {
      overflow-wrap: break-word;
      color: rgba(103, 105, 113, 1);
      font-size: 26rpx;
      font-family: PingFangSC-Regular;
      font-weight: normal;
      text-align: left;
      line-height: 36rpx;
      margin-top: 4rpx;
      display: flex;
      flex-direction: column;
    }
  }

  .shop-text {
    align-self: center;
    justify-content: center;
    margin-top: 48rpx;
    flex-direction: row;
    display: flex;
    .text-line {
      background-color: rgba(176, 179, 191, 1);
      width: 48rpx;
      height: 2rpx;
      display: flex;
      flex-direction: column;
      margin: 20rpx 0 18rpx 0;
    }
    .content {
      overflow-wrap: break-word;
      color: rgba(17, 17, 17, 1);
      font-size: 28rpx;
      font-family: PingFangSC-Regular;
      font-weight: normal;
      text-align: right;
      white-space: nowrap;
      line-height: 40rpx;
      margin: 0 14rpx;
    }
  }

  .shop-image {
    margin-top: -2rpx;
  }
  .shop-button{
    position: fixed;
    width: 750rpx;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    margin: 0 20rpx;
    box-shadow: 0rpx -2rpx 0rpx 0rpx #F1F1F3;
    @supports (bottom: env(safe-area-inset-bottom)) {
        bottom: env(safe-area-inset-bottom);
      }
    .def-btn {
      width: 710rpx;
      height: 88rpx;
      background: #FE4F06;
      border-radius: 8rpx;
      font-size: 28rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 88rpx;
    }
  }
  .overlay {
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction:column;
    margin-top: 320rpx;
    height: 100%;
    .overlay-img{
      width: 526rpx;
      height: 388rpx;
      background-color: #FE4F06;
    }
    .overlay-close{
      margin-top: 60rpx;
    }
  }
  
 
}

