image{
    width: 90rpx;
    height: 90rpx;
}
.container{
    position: fixed;
    bottom:10%;
    right: 20rpx;
    z-index: 9999;

    .btn{
        width: 90rpx;
        height: 90rpx;
        border-radius: 100%;
        background: transparent;
        &::after {
            display: none;
        }
    }
}