@import "~templates/loading/loading";
@import "~styles/color";

page{
	background: #fff;
	height: 100%;
}

.noHint {
	text-align: center;
	color: $originalPriceColor;
	width: 100%;
	padding-top: 220rpx;
	height: 100%;
}

.scrollSegmentcontrol {
	background-color: #FFFFFF;
	color: #707070;
	font-size: 28rpx;
	position: fixed;
	left: 0;
	top: 0;
	white-space: nowrap;
	box-shadow: 0 0 2rpx rgba(0, 0, 0, 0.16);

	// .categories {
	// 	display: flex;
	// }
	z-index: 999;
	.category {
		flex-shrink: 0;
		padding: 35rpx 16rpx;
		margin: 0 21rpx;
		margin-bottom:0;
		font-size: 28rpx;
		display: inline-block;
		height: 90rpx;
		&.selected {
			border-bottom: 8rpx solid $mainColor;
			color: #000000;
			font-weight: bold;
		}
	}
}


.sortOptions {
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	left: 0;
	top: 90rpx;
	background-color: #fff;
	border-top: 1rpx solid #C2C2C2;
	border-bottom: 1rpx solid #C2C2C2;
	.sortOption {
		width: 50%;
		justify-content: center;
		height: 70rpx;
		line-height: 70rpx;
		font-size: 24rpx;
		display: flex;
		align-items: center;
		color: $originalPriceColor;

		&.selected {
			color: $titleColor;
		}
	}
	z-index: 999;

	.indicators {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 24rpx;
		justify-content: center;
		margin-left: 14rpx;
		margin-top: -6rpx;
	}

	.triangleIcon {
		width: 16rpx;
		height: 9rpx;
	}

	.triangleIconUp {
		margin-bottom: 6rpx;
	}
}

.listWrapper {
	padding-top: 160rpx;
	height: 100%;
}

.m-attrList{
	padding:0;
	margin: 0;
}
.m-attrList img{
	width: 750rpx;
}
