.container{
    margin: 10rpx 0 20rpx;
    background: #fff;
    padding: 0 30rpx;
    color: #000000;
    .title{
        font-size: 24rpx;
        height: 70rpx;
        line-height: 70rpx;
    }
    .item{
        border-bottom: 0.5rpx solid #D7D7D7;
        padding-bottom: 65rpx;
        margin-bottom: 50rpx;
        .top{
            display: flex;
            justify-content: space-between;
            .user{
                display: flex;
                align-items: center;
                .avatar{
                    width: 50rpx;
                    height: 50rpx;
                    border-radius: 100%;
                }
                .nickname{
                    padding-left: 20rpx;
                    font-size: 26rpx;
                }
            }
        }
        .text{
            font-size: 26rpx;
            padding-top: 21rpx;
        }
        .images{
            padding-top: 24rpx;
            .commentImage{
                width: 150rpx;
                height: 150rpx;
                background: #C2C2C2;
                margin-right: 25rpx;
            }
            .commentImage:nth-child(4){
                margin: 0;
            }
        }
        .admin_reply{
            background: #f4f4f4;
            padding: 15rpx 20rpx;
            min-height: 80rpx;
            margin-top: 40rpx;
            
            .dialog-box {
                position: relative;
                view {
                    width:0; 
                    height:0; 
                    font-size:0; 
                    overflow:hidden; 
                    position:absolute;
                    &.top{
                      border-width:13px; 
                      border-style:solid dashed dashed; 
                      border-color:transparent transparent #f4f4f4 transparent; 
                      left:0; 
                      top:-25px;
                    }
                }
            }
            .reply_text{
                font-size: 22rpx;
            }
        }
    }
    .item:last-child{
        border:none;
        margin: 0;
    }
    .moreComments{
        font-size: 28rpx;
        text-align: center;
        height: 75rpx;
        line-height: 75rpx;
    }
}