@import '~styles/color';

$footerHeight: 100rpx;
page{
	background: #fff;
	position:relative;
	height:86%;
}
.empty{
	color:#ccc;
	font-size:12pt;
	height:80%;
	text-align:center;
	width:100%;
}
.container{
	height:80%;
}
.emptyHint {
	width: 400rpx;
	height:262rpx;
	/*text-align:center;*/
	margin:200rpx auto;
	display: block;
}
.goBuyDesc{
	position:absolute;
	left:0;
	top:50%;
	bottom:20%;
	top:0;
	margin:auto;
	height:40rpx;
	right:0;
	.logo{
		width: 80%;
	}
}
.onGotoBuy {
		display: flex;
		width: 500rpx;
		background-color: $mainColor;
		color: #fff;
		margin: 40rpx auto 0 auto;
		padding: 14rpx 0;
		align-items: center;
		justify-content: center;
		font-size: 12pt;
	}
	.buy{
		width: 200rpx;
	}
	.onGotoBuy image{
		width: 60rpx;
		height: 60rpx;
		margin-right: 10rpx;
	}
.cartList {
	margin-bottom: $footerHeight + 40rpx;
}

.radioWrapper {
	padding: 40rpx 0;
}

.radio {
	$size: 32rpx;

	height: $size;
	width: $size;
	margin-right: 20rpx;
	flex-shrink: 0;
	border: 1px solid $mainColor;
	border-radius: 50%;
	line-height: $size;
	text-align: center;

	&.selected {
		background-color: $mainColor;
	}

	.radioIcon {
		$iconSize: 24rpx;

		height: $iconSize;
		width: $iconSize;
	}
}

.cartItem {
	$imageSize: 180rpx;
	display: flex;
	align-items: center;
	padding: 20rpx;
	margin-bottom: 1px solid #eee;
	background-color: #fff;
	margin-bottom: 5rpx;

	.itemImage {
		height: $imageSize;
		width: $imageSize;
		margin-right: 60rpx;
		flex-shrink: 0;
		border-radius: 6rpx;
		border: 1px solid #ccc;
	}

	.propertyNames {
		color: $originalPriceColor;
		font-size: 8pt;
		margin: 10rpx 0;
	}

	.price {
		color: $priceColor;
		font-size: 12pt;
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 10pt;
		width: 100%;
		min-height: $imageSize;
		align-self: flex-start;
	}

	.meta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.metaRight {
		display: flex;
		align-items: flex-end;
	}

	.delete {
		margin-left: 10rpx;
		line-height: 1;
		color: #ccc;
	}
}

.clearCart {
	padding: 40rpx 20rpx;
	text-align: right;
	color: #ccc;
	font-size: 10pt;
	width:200rpx;
	float:right;

}

.footer {
	height: $footerHeight;
	display: flex;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #eee;
	padding-left: 20rpx;


	.priceCount {
		width: 320rpx;
		flex-grow: 1;
		text-align: right;
		padding-right: 20rpx;

		.totalPrice {
			color: $priceColor;
			font-size: 12pt;
		}
		.totalPrice-ip5 {
			color: $priceColor;			
			font-size: 10pt;
		}

		.priceMeta {
			font-size: 8pt;
			color: $originalPriceColor;
			.postage {
				margin-right: 20rpx;
			}
		}
	}

	.createOrderBt {
		width: 240rpx;
		background-color: $mainColor;
		color: #fff;
		text-align: center;
		line-height: $footerHeight;
		border-radius: 0;
		font-size: 12pt;
		&[disabled] {
			background-color: #ccc !important;
		}
	}
}
.logo{
	padding-bottom:110rpx;
}
/*已下架*/
.itemImageList{
	position: relative;
}
.stock0{
	position: absolute;
	width: 120rpx;
	height: 120rpx;
	left: 0;
	right: 60rpx;
	top: 0;
	bottom: 0;
	margin: auto;
}
.opacityBg{
	background: rgba(255,255,255,0.6);
	width: 180rpx;
	height: 180rpx;
}
.stock0Radio{
	width: 32rpx;
	height: 32rpx;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-right: 20rpx;
}
/* 兼容iphone 5 */
.suit-ip5{
	font-size: 10pt;
}
.suit-ip5 button.createOrderBt{
	width:195rpx
}
