.bigPic {
	display: flex;
	padding: 25rpx 0;
	margin: 0 25rpx;
	background: #fff;
	border-bottom: 1rpx solid #f4f4f4;

	.wrap {
		position: relative;
		width: 330rpx;
		height: 330rpx;
		.mask {
			font-size: 32rpx;
			font-weight: bold;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(0, 0, 0, 0.4);
			color: #fff;
			z-index: 1;
			border-radius: 10rpx;
		}
		.productImage {
			width: 330rpx;
			height: 330rpx;
			border-radius: 10rpx;
		}
	}

	.meta {
		flex: 1;
		padding-left: 20rpx;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.top {
			.title {
				font-size: 28rpx;
				font-weight: bold;
				color: #333;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.desc {
				font-size: 24rpx;
				color: #333;
				margin-top: 20rpx;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			.bottom-left {
				display: flex;
				flex-direction: column;

				.original {
					font-size: 24rpx;
					color: #707070;
					text-decoration: line-through;
				}
	
				// 会员专属
				.member-logo {
					width: 50rpx;
					height: 35rpx;
				}

				// 会员价-非会员专属商品
				.member-price {
					font-size: 24rpx;
					color: #333;
					display: flex;
					align-items: center;
					
					.member-price-tip {
						width: 60rpx;
						height: 35rpx;
						font-size: 22rpx;
						color: #fff;
						background:linear-gradient(97deg, rgba(248, 85, 82, 1) 0%, rgba(248, 148, 82, 1) 100%);
						border-radius: 5rpx;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: 8rpx;
					}
					
					.member-price-number {
						font-weight: bold;
					}
				}

				// 价格
				.price {
					font-size: 42rpx;
					font-weight: bold;
					color: #FC2732;
	
					.dedicatedPrice {
						color: #333;
						font-weight: bold;
					}
				}
			}

			.buyBtn {
				width: 150rpx;
				height: 50rpx;
				font-size: 24rpx;
				color: #fff;
				background: #F89452;
				border-radius: 5rpx;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}