.orderDetail {
  .countDown {
    width: 100%;
    height: 80rpx;
    background: rgba(254, 79, 6, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #111111;
    line-height: 80rpx;
    .count {
      margin: 0 16rpx;
      .item {
        display: inline-block;
        width: 22px;
        margin-right: 5px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        background-color: #fe4f06;
        width: 40rpx;
        height: 40rpx;
        background: #fe4f06;
        border-radius: 8rpx;
        margin-left: 10rpx;
      }
    }
  }
  .pay-btn {
    position: fixed;
    bottom: 0;
    @supports (bottom: env(safe-area-inset-bottom)) {
      bottom: env(safe-area-inset-bottom);
    }
    width: 702rpx;
    height: 88rpx;
    background: #fe4f06;
    border-radius: 8rpx;
    margin: 0 24rpx;
  }
}
