.title {
	font-size: 35rpx;
	font-weight: bold;
	padding: 26rpx 25rpx;
	text-align: center;
}

.categoryBox{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	text-align: center;
	padding: 0 25rpx;

	.homeCategory, 
	.homeWrapper {
		width: 175rpx;
		flex-direction: column;
		.categoryItem{
			line-height: 0;
			
			.categoryImg{
				width: 100rpx;
				height: 100rpx;
				border-radius: 5rpx;
			}
		}

		.categoryBtn{
			background-color: transparent;
			color: #333;
			font-size: 24rpx;
		}

		.categoryTitle{
			font-size: 24rpx;
			height: 66rpx;
			line-height: 66rpx;
			color: #000;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-weight: normal;
		}
	}

	.homeWrapper {
		width: 140rpx;
	}


	// .homeCategory{

	// 	&:nth-child(4n) {
	// 		margin-right: 0;
	// 	}

	// }

	// .homeWrapper {

	// 	&:nth-child(5n) {
	// 		margin-right: 0;
	// 	}
	// }
}

// .categoryWrapper {
// 	padding: 0 55rpx;
// }