@import '~styles/color';
$meter: 20rpx;
.container {
	padding: 0 $meter;
	background-color: #fff;

	.liftInfo-section {
		padding: 30rpx 5rpx 30rpx 8rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 28rpx;

		.address {
			font-weight: bold;
			text {
				color: red;
			}
		}

		.right-arrow {
			color: $tagColor;
			width: 10rpx;
			height: $meter;
			margin-right: 2 * $meter;
			margin-left: 2 * $meter;
		}
	}

	.wrapper {
		padding: 30rpx 5rpx 30rpx 8rpx;

		.address-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 28rpx;
			color: #000000;
			margin-bottom: 16rpx;
			font-weight: bold;
			.address-checkout{
				font-size: 24rpx;
				color: #999999;
			}
		}

		.address-part {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// flex-wrap: wrap;

			.address-name {
				font-weight: bold;
				font-size: 32rpx;
				color: $titleColor;
				// margin-right: 30rpx;
			}

			.address-distance {
				font-size: 24rpx;
				color: $titleColor;

				.right-arrow {
					width: $meter/2;
					height: $meter;
					margin-left: $meter;
				}
			}
		}

		.address-info {
			display: flex;
			margin-bottom: 10rpx;
			flex-wrap: wrap;

			.address-section {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				flex-grow: 1;
				width: 150rpx;
				margin-bottom: 16rpx;

				.address-detail{
					width: 550rpx;
					font-size: 28rpx;
					color: #999;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.address-location{
					display: flex;
    			align-items: center;
					font-size: 24rpx;
					color: #0679F6;
					image{
						width: 24rpx;
						height: 24rpx;
						margin-right: 10rpx;
					}
				}
				.address-openning{
					.address-title {
						font-size: 24rpx;
						color: $tagColor;
						margin-right: 10rpx;
						display: inline-block;
					}
					.address-time{
						font-size: 24rpx;
						color: $titleColor;
						color: #333333;
						display: inline-block;
					}
				}
				.address-phone{
					display: flex;
					align-items: center;
					font-size: 24rpx;
					color: #0679F6;
					image{
						width: 24rpx;
						height: 24rpx;
						margin-right: 10rpx;
					}
				}
			}

			.address-first {
				width: 100%;
			}

			.address-second {
				border-left: 1px solid $borderColor;
				padding-left: 35rpx;
				box-sizing: border-box;
			}
		}

		.address-remark {
			font-size: 24rpx;
			color: $shareColor;
		}
	}

	.receiver {
		display: flex;
		justify-content: space-between;
		background: #fff;
		// padding: 20rpx 40rpx;
		font-size: 28rpx;
		color: #000000;
		border-bottom: 1px solid $borderColor;
		padding: 30rpx 0;

		.tel {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-weight: bold;
			.star {
				color: red;
			}

			.receiver-field {
				width: 240rpx;
				border: 1px solid #cccccc;
				height: 20rpx;
				box-sizing: border-box;
				text-align: center;
				color: #000000;
				border-radius: 8rpx;
				margin-left: 10rpx;
				font-weight: normal;
			}
		}

		.title {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 8rpx;
			font-weight: bold;

			.receiver-field {
				width: 200rpx;
				border: 1px solid #cccccc;
				border-radius: 8rpx;
				height: 20rpx;
				box-sizing: border-box;
				text-align: center;
				color: #000000;
				margin-left: 10rpx;
				font-weight: normal;
			}
		}
	}
}
