.itemList {

	.item {
		display: flex;
		padding: 20rpx;
		margin-bottom: 10rpx;
		font-size: 10pt;
		background-color: #fff;

		.itemImage {
			$size: 140rpx;

			height: $size;
			width: $size;
			margin-right: 20rpx;
			flex-shrink: 0;
		}

		.itemInfo {
			display: flex;
			width: 100%;

			.left, .right {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			.right {
				width: 30%;
				flex-shrink: 0;
				text-align: right;
				flex-grow:1;
			}

			.properties {
				font-size: 8pt;
				color: $originalPriceColor;
			}

			.originalPrice {
				color: $originalPriceColor;
				text-decoration: line-through;
			}

			.itemQuantity {
				color: $originalPriceColor;
			}
		}
	}
}

.section {
	font-size: 10pt;
	margin-bottom: 10rpx;
	background-color: #fff;
}

.buyerMessage {
	padding: 20rpx;
	color: $originalPriceColor;
	font-size: 8pt;
}

.address {
	padding: 20rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20rpx;
	font-size: 10pt;

	.addressIcon {
		width: 30rpx;
		height: 38rpx;
		flex-shrink: 0;
		margin-right: 10rpx;
	}

	.addressInfo {
		font-size: 10pt;
		padding: 0 10rpx;
		flex-grow: 1;
	}

	.phone {
		float: right;
	}
}

.logistics {
	background-color: #fff;
	padding: 20rpx;
	display: flex;
	align-items: center;

	.truckIcon {
		$size: 40rpx;

		height: $size;
		width: $size;
	}

	.info {
		flex-grow: 1;
		padding: 0 20rpx;

		.remark {
			color: #d40138;
			width:600rpx;
		}

		.dateTime {
			font-size: 9pt;
			margin-top: 6rpx;
		}
	}

	.rightIcon {
		width: 16rpx;
		height: 26rpx;
	}
}

.priceInfo {
	padding: 0 20rpx;
	background-color: #fff;


	.priceInfoItem {
		padding: 10rpx 0;
		display: flex;
		font-size: 9pt;
		justify-content: space-between;

		&.priceTotal {
			font-size: 11pt;
			border-top: 1px solid #eee;


			.priceInfoItemValue {
				color: $priceColor;
			}
		}
	}
}

.orderMeta {
	padding: 20rpx;
	font-size: 9pt;
	color: $originalPriceColor;

	.item {
		padding: 10rpx 0;
	}
}

.viewProduct {
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	background-color: $mainColor;
	color: #fff;
	width: 80%;
	margin: 80rpx auto;
}

.footer {
	padding: 0 20rpx 20rpx;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #eee;

	&.iphoneXTrick {
		padding-bottom: 40rpx;
	}
}
