

.top-radius {
	border-top-left-radius: 10rpx;
	border-top-right-radius: 10rpx;
}
.bottom-radius {
	border-bottom-right-radius: 10rpx;
	border-bottom-left-radius: 10rpx;
}
.Wrapper{
	overflow: hidden;
	.title {
		background: #fff;
		font-size: 35rpx;
		font-weight: bold;
		padding: 26rpx 25rpx;
		text-align: center;
	}
}