@import '~styles/color';
.container {
	background-color: #F4F4F4;
	width: 100%;
	height: 100%;

	&.iphoneXTrick {
		margin-bottom: 40rpx;
	}
}

.img {
	width: 100%;
	height: 100%;
	background-color: #C2C2C2;
}

.footer {
	margin: 30rpx 0;
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;

    .call{
        width: 350rpx;
        height: 90rpx;
        background-color: $mainColor;
        border-radius: 45rpx;
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            font-size: 32rpx;
            color: #fff;
        }
    }
}