@import '~styles/color';
.section {
	background-color: #fff;
	margin-bottom: 20rpx;
	padding: 25rpx 30rpx 30rpx;

	&:last-child{
		// text-align: center;
		font-size: 14px;
	}
}
.orders {
	// padding: 20rpx 20rpx;
	margin: -70rpx 20rpx 0;
	border-radius: 10rpx;
	height: 230rpx;
	line-height: 2;

	.order-hearder {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #D4D4D4;

		.order-title {
			font-size: 32rpx;
			font-weight: bold;
			color: $titleColor;
		}

		.header-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.right-text {
				color: #999999;
				font-size: 28rpx;
				margin-right: 20rpx;
			}

			.itemRight {
				width: 16rpx;
				height: 20rpx;
			}
		}
	}

	.orderItems {
		display: flex;
		margin-top: 20rpx;

		.orderItem {
			flex-grow: 1;
			width: 25%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			left: 0;
			top: 0;
			font-size: 22rpx;
			color: $titleColor;
			.statusText{
				font-size: 22rpx;
				color: $titleColor;
			}
		}
		.statusIcon {
			$size: 48rpx;
			height: $size;
			width: $size;
			margin-bottom: 10rpx;
		}
		.unpay{
			width: 60rpx;
		}
		.unSend{
			width: 60rpx;
		}
		.unGet{
			width: 56rpx;
		}
		.service{
			width: 55rpx;
		}
		.allOrder{
			width: 55rpx;
		}
		.orderItemValue {
			$size: 28rpx;
			width: $size;
			height: $size;
			border-radius: 50%;
			font-size: 18rpx;
			color: #fff;
			text-align: center;
			line-height: 30rpx;
			background-color: $priceColor;
			position: absolute;
			right: 34rpx;
			top: -6rpx;
			z-index: 2;
		}
	}
}