.order-detail {
  padding: 0 16px;
  background-color: #f4f6fa;
  padding-bottom: 100rpx;
  .order {
    margin-top: 16rpx;
    background-color: #ffffff;
    border-radius: 16rpx;
    padding: 28rpx;
    .order-desc{
      display: flex;
      margin-bottom: 5px;
      .img{
        display: block;
        width: 168rpx;
        height: 168rpx;
        border-radius: 8rpx;
        border: 2rpx solid #f2f2f2;
        flex-shrink: 0;
      }
      .right{
        display: flex;
        padding-left: 20rpx;
        flex-direction: column;
        width: 75%;
        padding-bottom: 0;
        .name{
          -webkit-line-clamp: 1;
          font-size: 28rpx;
          font-family: PingFangSC-Medium,PingFang SC;
          font-weight: 500;
          color: #111;
          line-height: 40rpx;
        }
        .desc{
          display: flex;
          justify-content: space-between;
          font-size: 24rpx;
          font-family: PingFangSC-Regular,PingFang SC;
          font-weight: 400;
          color: #b0b3bf;
          margin-top: 8rpx;
          .desc-left{
            width: 60%;
            height: 64rpx;
            -webkit-line-clamp: 2;
          }
          .desc-right{
            color: black;
            font-weight: 700;
          }
        }
        .singleBy{
          display: flex;
          justify-content: space-between;
          font-size: 28rpx;
          font-family: PingFangSC-Medium,PingFang SC;
          font-weight: 500;
          color: #111;
          margin-top: 14rpx;
        }
      }
    }
    .order-content {
      display: flex;
      .order-img {
        width: 168rpx;
        height: 168rpx;
        border-radius: 8rpx;
        border: 2rpx solid #f2f2f2;
        margin-right: 20rpx;
      }
      .order-text {
        .title {
          font-size: 28rpx;
          font-family: PingFangSC-Medium, PingFang SC;
          font-weight: 500;
          color: #111111;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .content {
          display: flex;
          justify-content: space-between;
          font-size: 24rpx;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #b0b3bf;
          .category {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
      }
    }
    .btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 16rpx;
      .base-btn {
        width: 144rpx;
        height: 64rpx;
        background: #ffffff;
        border-radius: 8rpx;
        border: 1rpx solid #808080;
        font-size: 28rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #111111;
        line-height: 64rpx;
        margin-left: 16rpx;
      }
    }
    .price {
      display: flex;
      justify-content: space-between;
      font-size: 28rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #111111;
      margin-bottom: 16rpx;
      .price-title {
        font-weight: 400;
        color: #676971;
        width: 240rpx;
      }
    }
    .pay {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 28rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #111111;
      margin-top: 16rpx;
      .rmb {
        font-size: 32rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #fe4f06;
      }
    }

    .address {
      display: flex;
      // justify-content: flex-start;
    }

    .more {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28rpx;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #fe4f06;
      margin: 30rpx 0;
      .icon {
        margin-right: 8rpx;
      }
    }
  }
}



.orderDetail {
  .countDown {
    width: 100%;
    height: 80rpx;
    background: rgba(254, 79, 6, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28rpx;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #111111;
    line-height: 80rpx;
    .count {
      margin: 0 16rpx;
      .item {
        display: inline-block;
        width: 22px;
        margin-right: 5px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        background-color: #fe4f06;
        width: 40rpx;
        height: 40rpx;
        background: #fe4f06;
        border-radius: 8rpx;
        margin-left: 10rpx;
      }
    }
  }
  .pay-btn {
    position: fixed;
    bottom: 0;
    @supports (bottom: env(safe-area-inset-bottom)) {
      bottom: env(safe-area-inset-bottom);
    }
    width: 702rpx;
    height: 88rpx;
    background: #fe4f06;
    border-radius: 8rpx;
    margin: 0 24rpx;
    color: #ffffff;
  }
}



.footer {
	padding: 0 20rpx 20rpx;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #eee;

	&.iphoneXTrick {
		padding-bottom: 40rpx;
	}
}