// 会员充值弹窗
.popup {
	width: 650rpx;
	min-height: 500rpx;
	padding-top: 30rpx;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 10rpx;

	.modal-title {
		width: 100%;
		text-align: center;
		font-size: 28rpx;
		font-weight: bold;
		color: #333333;
	}
	
	.model-main {
		width: 100%;
		padding: 0 30rpx;
		margin: 50rpx 0;

		.model-priceSection {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
	
			.model-section {
				width: 180rpx;
				height: 100rpx;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: #333333;
				font-size: 20rpx;
				border-radius: 6rpx;
				margin-bottom: 20rpx;
				margin-left: 24rpx;
				background-color: #F4F4F4;
	
				.model-price {
					font-size: 28rpx;
					font-weight: bold;
				}
	
				&:nth-child(3n+1) {
					margin-left: 0;
				}
			}
	
			.checked_recharge {
				background-color: #43B545;
				color: #fff;
			}
		}
	
		// 其他金额
		.recharge-elsePrice { 
			padding: 14rpx 20rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #F4F4F4;
			border-radius: 8rpx;
	
			.elsePrice-text {
				min-width: 300rpx; 
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 30rpx;
				color: #000000;
			}
	
			.elsePrice-input {
				padding-left: 16rpx;
			}
		}
	}


	// 确认支付按钮
	.model-btn {
		width: 100%;
		height: 100rpx;
		text-align: center;
		line-height: 100rpx;
		background-color: #43B545;
		color: #fff;
		font-size: 32rpx;
		font-weight: bold;
	}
}
