$originalPriceColor: #9fa0a0;
$priceColor: #FC2732;
$titleColor: #333;
$tagColor: #999999;

$couponMainColor: #e04a55;

//dark
$mainColor: #729153;
$secondColor: #B1CA50;
$backgroundColor: #f4f4f4;

//red
// $mainColor: #47414D;
// $secondColor: #A39A95;
// $backgroundColor: #f4f4f4;

//blue
// $mainColor: #245e74;
// $secondColor: #1e8aa6;
// $backgroundColor: #edf7f8;

//green
// $mainColor: #22926c;
// $secondColor: #71bca8;
// $backgroundColor: #f4faf8;
