$originalPriceColor: #9fa0a0;
$priceColor: #c81337;
$titleColor: #595857;
$tagColor: #45424e;

$couponMainColor: #e04a55;

//dark
$mainColor: #45424e;
$secondColor: #a39896;
$backgroundColor: #f4f7f9;

//red
// $mainColor: #d74657;
// $secondColor: #eb7581;
// $backgroundColor: #f4f4f4;

//blue
// $mainColor: #245e74;
// $secondColor: #1e8aa6;
// $backgroundColor: #edf7f8;

//green
// $mainColor: #22926c;
// $secondColor: #71bca8;
// $backgroundColor: #f4faf8;
