.tplStyleThree{
	@import '~templates/tplStyleThree/articleItem/articleItem';
	
	$searchWrapper: 90rpx; //搜索框高度
	$zeroMarginTop: 30rpx;	//模块间隔高度
	$sideWidth: 30rpx;	//边框距离

    .container {
    	height: auto;
    	width: 100%;
    	box-sizing: border-box; 
    }
    
    .searchWrapper {
    	height: $searchWrapper;
    	background-color: transparent;
    	padding: 12rpx 40rpx;
    	position: fixed;
    	left: 0;
    	width: 100%;
    	top: 0;
    	z-index: 9;
	}
	.searchIcon {
		$size: 28rpx;

		width: $size;
		height: $size;
		line-height:$size;
		margin-right: 20rpx;
	}

	.search {
		height: 60rpx;
		text-align: center;
		font-size: 22rpx;
		color: #707070;
		background-color: #fff;
		border-radius: 100rpx;
		line-height: 60rpx;
		display: flex;
		justify-content: center;
		align-items: center;
	}

    .main {
    	margin-top: $searchWrapper;
    }

    .zeroMarginTop {
    	margin-top: -$zeroMarginTop;
	}
	.MarginTop{
		margin-top: $zeroMarginTop;
	}
	
	.searchSliders{
		position: relative;
		.searchBox{
			height: auto;
			background-color:transparent;
			padding:0 40rpx;
			position: absolute;;
			left:0;
			width:100%;
			bottom: 20rpx;
			z-index:9;
		}

		.dots{
			position: absolute;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
		}
		.dots .dot{
			$size: 16rpx;

			margin: 0 8rpx;
			width: $size;
			height: $size;
			background: #fff;
			border-radius: 8rpx;
			transition: all .6s;
		}
		.dots .dot.active{
			background: #45424E;
		}

	}
	.banner{
		margin-top: $zeroMarginTop;
	}
    .banner,.banner button, .banner image {
    	width: 100%;
    	height: 100%;
    }
    .flashItem .meta{
    	padding: 40rpx;
    }

    .couponsWrapper {
    	z-index: 9;
    	margin: $zeroMarginTop $sideWidth;
    	.coupons {
    		display: flex;
    	}
    	.coupon {
    		width: 296rpx;
    		height: 136rpx;
    		position: relative;
    		line-height: 1.2;
		}
		.coupon:nth-child(1){
			margin-right: 20rpx;
		}
    	.moreCoupon{
    		width: 78rpx;
    		height: 136rpx;
    		position: relative;
    		line-height: 1.2;
    		.moreBtn{
    			position:absolute;
    			width:20rpx;
    			color:#999999;
    			font-size:20rpx;
    			left:40rpx;
    			top:26rpx;
    		}
    	}
    	.couponInfoList {
    		color: #fff;
    		height: 136rpx;
    		width: 296rpx;
    		display: flex;
			line-height: 1.4;
			
    		.couponInfo {
    			position: absolute;
    			z-index: 2;
    			height: 136rpx;
    			width: 200rpx;
    			display: flex;
    			justify-content: center;
    			align-items: center;
				flex-direction: column;
				
				.reduce{
					.reduceCost {
						font-size: 44rpx;
					}
					.discount{
						font-size: 22rpx;
					}
				}
    			.title {
    				font-size: 20rpx;
    			}
			}
			.right {
				position: absolute;
				right: 0;
				top: 0;
    			z-index: 2;
    			height: 136rpx;
    			width: 96rpx;
    			display: flex;
    			justify-content: center;
    			align-items: center;
    			flex-direction: column;
    			.btn{
					font-size: 24rpx;
					width: 48rpx;
					color: #FF74C3;
					margin: 0 auto;
				}
				.unable{
					color: #707070;
					width: 24rpx;
				}
    		}
    	}
    	.bg {
    		width: 296rpx;
    		height: 136rpx;
    		position: absolute;
    		z-index: 1;
    	}
    }
    .firstCoupon{
    	padding-top: $zeroMarginTop;
	}
	.secondCoupon{
    	padding-top: $zeroMarginTop;
    }

    .section {
		margin: $zeroMarginTop $zeroMarginTop 0;

    	.sectionTitle {
			background-color: #fff;
    		text-align:center;
    		color:#000000;
			font-size: 36rpx;
			font-weight: bold;
			height: 60rpx;
			line-height: 60rpx;
			margin-bottom: 10rpx;
    	}

		.grouponContainer{
			display: flex;
			// flex-wrap: wrap;
			justify-content:space-between;

			.grouponItem{
				margin: 0 0 10rpx 0;
			}

			.grouponTwoItem:last-child {
				margin-left: 10rpx;
			}
		}

    	.sectionMore {

    		.form {
    			width: 100%;
    		}

    		.moreButton{
    			font-size: 30rpx;
				background:#fff;
				color: #707070;
				height: 60rpx;
				line-height: 60rpx;
    		}
    	}

    	.rightIcon {
    		width: 14rpx;
    		height: 20rpx;
    		margin-left: 10rpx;
    	}
    }

    .starProductItem {
    	margin-bottom: 15rpx;
    	width: 100%;
    	height: 100%;
    }

    button{
    	margin: 0;
    	padding: 0;
    	border: none;
    	outline: none;
    	border-radius: 0;
    }

    button::after {
    	outline: 0;
    	border-radius: 0;
    	border: 0;
    }

    .bottomHint {
    	text-align: center;
    	color: #ccc;
    	font-size: 10pt;
    	padding:40rpx 0 0 20rpx;
    	margin-bottom: 20rpx;
    }

    /* 首页分类 */
    .categoryBox{
		background: #fff;
		margin: 30rpx;
    	padding: 6rpx 0 46rpx;
    	display: flex;
      	justify-content: flex-start;
    	flex-flow: row wrap;
    	align-items: center;
    	text-align: center;
    	.homeCategory{
			flex-direction: column;
			width: 173rpx;
			padding: 0 10rpx;

    		.categoryItem{
    			padding: 30rpx 0 10rpx;
    			line-height: 0;
    			.categoryImg{
    				width: 110rpx;
    				height: 110rpx;
    			}
    		}
    		.categoryBtn{
    			background-color:transparent;
    			color: 333333;
    			font-size: 24rpx;
    		}
    		.categoryTitle{
    			font-size: 24rpx;
    			color: #333333;
    			overflow: hidden;
    			white-space: nowrap;
    			text-overflow: ellipsis;
    			font-weight: normal;
    		}
    	}
    }

    .iphoneXTrick {
		padding-bottom: 1rpx; 
	}

	/* 商品列表 */
    .productContainer{
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
	}
	/* 服务说明 */
    .instructions{
        display: flex;
        justify-content: space-around;
        background: #fff;
        height: 70rpx;
        align-items: center;

        .instructions-item{
			display: flex;
			align-items: center;
            image{
                width: 20rpx;
                height: 20rpx;
            }
            view{
                padding-left: 10rpx;
                display: inline;
                font-size: 20rpx;
                color: #707070;
            }
        }
    }
    .announcement{
        display: flex;
        height: 70rpx;
        align-items: center;
		background: #FFF9EC;
		font-size: 22rpx;
		color: #000000;
	
		.infoIcon{
			margin: 0 14rpx 0 30rpx;
			width: 48rpx;
			height: 35rpx;
		}
		
	}

	@keyframes marque {
    	0% {
    	    transform: translateX(0);
    	}
    	100% {
    	    transform: translateX(-33.3%);
    	}
	}
	.marquee {
		width: 100%;
  		display: block;
  		overflow: hidden;
  		white-space: nowrap;
  		text-overflow: clip;
		position: relative;
		  
		.content {
			display: inline-block;
			position: relative;
			padding-right: 0px;
			white-space: nowrap;
			animation-name: marque;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		.content-space{
			display: inline-block;
			width: 300px;
		}
	}
}