page{
	background-color: #FF5800;
}

@mixin top-name-class {
  font-size: 28rpx;
	font-weight: bold;
}

@mixin top-rank-class {
  font-size: 42rpx;
	font-weight: bold;
}
.margin{
	margin-right: 50rpx;
}

.container {
	padding-bottom: 100rpx;
	.top{
		height: 500rpx;

		image{
			width: 100%;
			height: 100%;
		}
	}

	.bottom{
		padding: 0 26rpx;
		.revenue-rank{
			background-color: #fff;
			padding: 30rpx;
			border-radius: 20rpx;

			.title{
				display: flex;
				justify-content: space-between;
				color: #333;
				font-size: 30rpx;
				font-weight: bold;
			}

			.user-list{
				margin-top: 50rpx;
				font-size: 28rpx;
				.rank{
					font-size: 36rpx;
				}
				.top-0{
					@include top-rank-class;
					color: #FFC500;
				}
				.top-1{
					@include top-rank-class;
					color: #A0A0A0;
				}
				.top-2{
					@include top-rank-class;
					color: #DD7600;
				}
				.user{
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding:22rpx 0;

					.info{
						display: flex;
						align-items: center;
						width: 250rpx;
						.user-avatar{
							width: 100rpx;
							height: 100rpx;
							border-radius: 50%;
							margin-right: 20rpx;
						}
						.img-top-0{
							border: 6rpx solid #FFC500;
						}
						.img-top-1{
							border: 6rpx solid #A0A0A0;
						}
						.img-top-2{
							border: 6rpx solid #DD7600;
						}
						.user-name{
							width: 150rpx;
							overflow: hidden;
							text-overflow:ellipsis;
    					white-space: nowrap;
						}
						.name-top-0{
							@include top-name-class;
							color:#FFC500;
						}
						.name-top-1{
							@include top-name-class;
							color:#A0A0A0;
						}
						.name-top-2{
							@include top-name-class;
							color:#DD7600;
						}
					}
					&:first-child{
						margin-top: 0;
					}
				}

				.revenue{
					font-size: 32rpx;
					color: #FF2B5C;
					width: 220rpx;
				}
			}
		}
	}
}
