.navigation-bar-wrap {
	width: 100%;
	position: fixed;
	z-index: 999;
	.bar-left-store{
		width: 200rpx;
		height: 100%;
		background: #fff;
		border-radius: 32rpx;
		font-size: 26rpx;
		padding: 0 20rpx;
		margin-left: 20rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #333;
		.store-name{
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			word-break: break-all;
			text-align: center;
		}
			.triangle{
				width: 16rpx;
				height: 16rpx;
				transform: rotate(-90deg);
		}
	}
	.bar-center {
		color: #707070;
		font-size: 24rpx;
		width: 100%;
		font-weight: normal;
		background-color: #fff;
		border-radius: 32rpx;
		display: flex;
		// justify-content: center;
		align-items: center;
		height: 100%;
		border: 1rpx solid rgba(212, 212, 212, .5);
		.bar-center-icon {
			font-size: 29rpx;
			margin: 0 10rpx 0 30rpx;
		}
	}
}

