.container {
	display: flex;
	width: 100%;
	background-color: #fff;
	padding: 40rpx 0;
	flex-direction: row;
	align-items: center;
	height: 160rpx;
}

.address-icon {
	width: 37rpx;
	height: 40rpx;
	margin: 0 32rpx;
}

.address {
	font-size: 28rpx;
	line-height: 40rpx;
	flex: 1;
}

.address-bottom {
	display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}

.right-arrow {
	color: #999999;
	width: 10rpx;
	height: 20rpx;
	margin-right: 40rpx;
	margin-left: 40rpx;
}
