// .product-list{
//     height: 100%;
//     background-color: #ffffff;
//   .filterList{
//     display: flex;
//     width: 100%;
//   }
//   .container{
//     width: 100%;
//     height: 100%;
//     background-color: #ffffff;
   
//     margin: 16rpx 0;
//     .listWrapper{
//       padding: 0 20rpx;
//       column-count: 2;
//       column-gap: 14rpx;
//       .list{
//         display: flex;
//         flex-direction: column;
//         .list-detail{
//           margin-bottom: 32rpx;
//           .list-img {
//             width: 100%;
//             height: 348rpx;
//             border-radius: 16rpx;
//             border: 1rpx solid #F4F6FA;
//             }
//           .list-title{
//             margin: 12rpx 8rpx;
//             font-size: 30rpx;
//             font-family: PingFangSC-Semibold, PingFang SC;
//             font-weight: 600;
//             color: #111111;
//             word-wrap: break-word;
//           }
//           .price-total{
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             margin: 0 8rpx;
//             .price{
//               font-size: 28rpx;
//               font-family: PingFangSC-Medium, PingFang SC;
//               font-weight: 500;
//               color: #FE4F06;
//               .price-num{
//                 font-size: 36rpx;
//                 margin-left: 4rpx;
//               }
//             }
//             .total{
//               font-size: 24rpx;
//               font-family: PingFangSC-Regular, PingFang SC;
//               font-weight: 400;
//               color: #676971;
//             }
//           }
//         }
        
//       }
      
      
//     }
   
//   }
// }

.page {
  background-color: #F4F6FA;
}

.banner {
  width: 100%;
}



.promote{
	margin: 20rpx auto 0rpx;
	// background: #fff;
	overflow: hidden;
  width: 100%;

	.label{
    width: 100%;
		display: flex;
		justify-content: center;
		font-size: 32rpx;
		text-align: center;
		align-items: center;
		// color: $titleColor;
		// padding: 30rpx 0;
		height: 90rpx;
		line-height: 90rpx;

		.dot{
			padding: 0 30rpx;
		}
	}
}

.container {
  padding-top: 20rpx !important;
}

@import "../../pages/shopList/shopList.scss"