.container {
	padding-bottom: 55rpx;
	.rule{
		display: flex;
		align-items: center;
		padding: 25rpx 36rpx;
		.question{
			width: 30rpx;
			height: 30rpx;
			border-radius: 100%;
			background: #FD417B;
			color: #fff;
			font-size: 24rpx;
			font-weight: bold;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.instruction{
			padding-left: 10rpx;
			font-size: 24rpx;
			font-weight: bold;
			color: #FD417B;
		}
	}
	.tips{
		padding-top: 25rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.icon{
			width: 155rpx;
			height: 140rpx;
		}
		.text{
			padding: 39rpx 0 86rpx;
			font-size: 28rpx;
			font-weight: bold;
			color: #707070;
		}
	}
	.product{
		padding: 0 45rpx;
		.price{
			padding: 98rpx 0 27rpx;
			font-size: 27rpx;
			color: #000000;
			text-align: right;
			text{
				color: #F52D2D;
				font-weight: bold;
			}
		}
	}
	.content{
		padding-bottom: 98rpx;
		.textarea{
			position: relative;
			font-size: 24rpx;
			color: #000000;
			width: 660rpx;
			height: 250rpx;
			border: 1rpx solid #C4C4C4;
			background: #FFF;
			padding: 30rpx;
			margin: 0 auto;
			.bottom{
				font-size: 26rpx;
				color: #000000;
				position: absolute;
				bottom: 20rpx;
				right: 35rpx;
			}
		}
		.textarea-placeholder {
			color: #ccc;
			line-height: 1;
		}
	}
	.shareBtn{
		width: 400rpx;
		height: 80rpx;
		border-radius: 50rpx;
		background:#5CB4AE;
		color: #fff;
		font-size: 32rpx;
		margin: 0 auto;
	}
}
.shareModalContent{
	height: 280rpx;
	display: flex;
	justify-content: space-around;

	.shareBtn{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 67.5rpx;
		background-color: transparent;
		
		image{
			width: 90rpx;
			height: 90rpx;
		}
		view{
			padding-top: 20rpx;
			font-size: 28rpx;
			line-height: 1.5;
			color: #333;
		}
	}
}
.close {
	position: absolute;
	width: 40rpx;
	height: 40rpx;
	top: 15rpx;
	right: 15rpx;
}