.container {
	padding: 15rpx;

	.account {
		background-color: var(--primary-color, #013f56);
		border-radius: 10rpx;
		padding: 20rpx 25rpx;
		.account-item {
			display: flex;
			align-items: center;
			.user-name {
				font-size: 28rpx;
				color: white;
				line-height: 40rpx;
				margin-left: 16rpx;
			}
		}
	}
	.extend-wrap {
		background-color: #fff;
		border-radius: 10rpx;
		padding: 0 25rpx;
		margin: 15rpx 0;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		.extend-btn {
			width: 33%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20rpx 0;
			.extend-title {
				color: #333333;
				font-size: 28rpx;
			}
		}
	}
}
