.smallPic {
	display: flex;
	padding: 35rpx 35rpx 35rpx 25rpx;
	border-bottom: 1rpx solid #E0E0E0;
	.left{
		width: 200rpx;
		height: 200rpx;
	}
	.right{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		padding: 5rpx 25rpx;
		flex: 1;
		.title{
			font-size: 28rpx;
			color: #333;
			font-weight: bold;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.time{
			font-size: 20rpx;
			color: #333;
		}
		.btn{
			position: absolute;
			right: 0;
			bottom: 0;
			width: 150rpx;
			height: 50rpx;
			color: #fff;
			font-size: 24rpx;
			border: 1rpx solid #F89452;
			background: #F89452;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}