@import '~styles/color';
@import '~templates/grouponItem/grouponItem';
@import '~templates/loading/loading';
@import '~templates/articleItem/articleItem';

swiper{
	margin-bottom: 15rpx;
}
.searchWrapper {
	background-color: $backgroundColor;
	padding: 12rpx 40rpx;
	border-bottom: 1px solid #ddd;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	z-index: 9;

	.searchIcon {
		$size: 36rpx;

		width: $size;
		height: $size;
		line-height:$size;
		margin-right: 20rpx;
	}

	.search {
		height: 70rpx;
		text-align: center;
		font-size: 9pt;
		color: $titleColor;
		background-color: #fff;
		border-radius: 100rpx;
		line-height: 70rpx;
		border: 1px solid #ddd;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.main {
	margin-top: 96rpx;
}

.banner,.banner button, .banner image {
	width: 100%;
	height: 100%;
}
.flashItem .meta{
	padding:40rpx;
}

.couponsWrapper {
	padding: 0 10rpx;
	font-size: 0;

	.coupons {
		display: flex;
	}

	.coupon {
		width: 250rpx;
		height: 117rpx;
		position: relative;
		line-height: 1.2;
		margin-right: 20rpx;
	}

	.couponInfoList {
		position: absolute;
		z-index: 2;
		color: #fff;
		font-size: 9pt;
		height: 117rpx;
		width: 250rpx;
		display: flex;
		line-height: 1.4;

		.couponInfo {
			position: absolute;
			z-index: 2;
			color: #fff;
			font-size: 9pt;
			height: 117rpx;
			width: 170rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.reduceCost {
				font-size: 18pt;
			}

			.title {
				font-size: 8pt;
			}
		}
	}

	.bg {
		width: 250rpx;
		height: 117rpx;
		position: absolute;
		z-index: 1;
	}
}

.section3 {
	box-sizing: border-box;
}

.section {
	background-color: #fff;
	margin-bottom: 20rpx;

	.sectionTitle {
		text-align: center;
		padding: 36rpx;
		color: $titleColor;
		font-size: 17px;
	}
.grouponItemWrapper{
	padding-bottom: 10rpx;
}
	.sectionMore {
		height: 80rpx;
		line-height: 80rpx;
		color: $titleColor;
		border-top: 1px solid #eee;
		padding: 10rpx 0;

		.form {
			width: 100%;
		}

		.moreButton{
			font-size: 26rpx;
			background: none;
		}
	}

	.rightIcon {
		width: 14rpx;
		height: 20rpx;
		margin-left: 10rpx;
	}
}


.starProductItem {
	margin-bottom: 15rpx;
	width: 100%;
	height: 100%;
}
button{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	border-radius: 0;
}

button::after{
	outline: 0;
	border-radius: 0;
	border: 0;
}
.bottomHint {
	text-align: center;
	color: #ccc;
	font-size: 10pt;
	padding:40rpx 0 0 20rpx;
	margin-bottom: 20rpx;
}
