@import '~styles/color';
@import '~templates/productLayout/productLayout';
@import './templates/default/default';
@import './templates/tplStyleTwo/tplStyleTwo';
@import './templates/tplStyleThree/tplStyleThree';
@import './templates/tplStyleFour/tplStyleFour';
@import './templates/tplStyleFive/tplStyleFive';
@import './templates/tplStyleSix/tplStyleSix';
@import './templates/newUserCoupon/newUserCoupon';

.home-guide {
    position: fixed;
    top: 10rpx;
    right: 40rpx;
}

.home-guide_img {
    width: 399rpx;
    height: 68rpx;
}