.container {
	width: 100%;
	color: #999999;
	font-size: 24rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.h-logo {
		width: 240rpx;
		height: 34rpx;
	}

	.f-logo {
		width: 240rpx;
		height: 80rpx;
		margin-top: 10rpx;
	}

	.h-text {
		margin-top: 8rpx;
		color: #999999;
		font-size: 24rpx;
	}
}
