.itemList {
	box-shadow: 0 0 #E0E0E0 2rpx;
	background-color: #FFFFFF;

	.item:last-child{
		border:none;
	}
	.item {
		display: flex;
		padding: 20rpx 0;
		font-size: 28rpx;
		border-bottom: 1rpx solid #E0E0E0;
		margin: 0 24rpx 0 20rpx;

		.itemImage {
			$size: 140rpx;
			height: $size;
			width: $size;
			margin-right: 15rpx;
            flex-shrink: 0;
		}
		.itemImage {
			$size: 120rpx;
			height: $size;
			width: $size;
		}

		.itemInfo {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
            flex: 1;
            .itemName{
                letter-spacing: 2rpx;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-all;
			}
			.itemName-crowd{
				font-size: 28rpx;
				color: #333333;
				-webkit-line-clamp: 1;
			}
		}

		.itemMeta {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items:flex-end;
		}

		.propertyNames {
			color: #707070;
			font-size: 22rpx;
			margin: 4rpx 0;
		}
		.propertyNames-crowd {
			color: #9FA0A0;
			font-size: 22rpx;
		}

		.itemCount {
			display: flex;
			justify-content: space-between;
			flex-direction: row-reverse;
		}

		.itemPrice {
			font-size: 28rpx;
			color: #F52D2D;
		}
		.itemPrice-crowd{
			font-size: 27rpx;
			font-weight: bold;
			color: #FD417B;
		}
		.itemQuantity {
			font-size: 28rpx;
		}
		.itemQuantity-crowd {
			font-size: 27rpx;
			color: #000000;
		}

		.grouponLimit {
			background-color: #FC2732;
			font-size: 22rpx;
			color:#fff;
			width: 90rpx;
			height: 40rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 5rpx;
		}
	}
	
	.comment{
		display: flex;
		justify-content: flex-end;
		padding-right: 30rpx;
		height: 70rpx;
		align-items: center;
		.btn{
			width: 120rpx;
			height: 50rpx;
			background: #F52D2D;
			border-radius: 10rpx;
			color: #fff;
			font-size: 24rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.itemList-crowd{
	background: #F4F4F4;
}