.productContainer {
	display: flex;
	margin: 0 35rpx;
	border: 1rpx solid #D4D4D4;

	.twoPic {
		flex: 1;
	}
}

.miaoshaStyle {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 35rpx;

	.time-wrap {
		background: #D4D4D4;
		height: 100rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-bottom: 35rpx;
		flex-direction: column;

		.status {
			font-size: 24rpx;
			font-weight: bold;
			color: #333;
		}

		.time {
			margin-top: 10rpx;
			color: #333;

			.day {
				font-size: 30rpx;
				font-weight: bold;
				color: #000;
			}

			.dateTitle {
				font-size: 16rpx;
				padding: 0 15rpx 0 5rpx;
			}

			.hour,
			.minute,
			.second {
				width: 50rpx;
				height: 25rpx;
				background: #333;
				border-radius: 30rpx;
				font-size: 20rpx;
				color: #FFF;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.dot {
				font-size: 24rpx;
				padding: 0 6rpx;
			}

			display: flex;
			align-items: center;
		}
	}

	.miaoshaImage {
		width: 280rpx;
		height: 280rpx;
		background: #F4F4F4;
		border: 1rpx solid #D4D4D4;
	}

	.title {
		width: 280rpx;
		height: 80rpx;
		font-size: 28rpx;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 8rpx 0 5rpx;
	}

	.miaoshaPrice {
		width: 280rpx;
		display: flex;
		align-items: flex-end;

		.price {
			font-size: 28rpx;
			font-weight: bold;
			color: #333;
		}

		.originalPrice {
			padding-left: 10rpx;
			font-size: 22rpx;
			color: #707070;
			text-decoration: line-through;
		}
	}
}