
.item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.indicators {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-left: 14rpx;
}

.triangleIcon {
	width: 16rpx;
	height: 9rpx;
}

.triangleIconUp {
	margin-bottom: 6rpx;
}