.container {
	width: 100%;
	height: 80rpx;
	display: flex;
	flex-direction: row;
	font-size: 24rpx;
	border-bottom: 1rpx solid #000000;
}

.item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.indicators {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-left: 14rpx;
}

.triangleIcon {
	width: 16rpx;
	height: 9rpx;
}

.triangleIconUp {
	margin-bottom: 6rpx;
}