.stodownload {
    display: flex;
    align-items: center;
    justify-content: center;

    .stodownloadImg {
        width: 40rpx;
        height: 40rpx;
        margin-right: 15rpx;
    }

    .stodownloadText {
        font-size: 22rpx;
        color: #c9c9c9
    }
}