.container {
	--main-background-color: #333333;
	--btn-color: #FEC422;
	width: 100%;
	height: 100%;
	background-color: #F4F4F4;
	color: #707070;
	padding-top: 10rpx;
	letter-spacing: 2rpx;
}

.user {
	width: 710rpx;
	height: 180rpx;
	color: white;
	background-color: var(--main-background-color);
	margin: 20rpx auto;
	border-radius: 5rpx;
	display: flex;
	align-items: center;
	.userHead {
		margin: 0 25rpx 0 35rpx; 
		.userAvatar {
			$size: 100rpx;
			width: $size;
			height: $size;
			border-radius: 50%;
		}
	}
	.userBody {
		.userData {
			display: flex;
			align-items: center;
			.userName {
				font-size: 32rpx;
				font-weight: bold;
				max-width: 15em;
				text-overflow: ellipsis; 
				overflow: hidden; 
				white-space: nowrap; 
			}
			.editUserNameIcon {
				width: 48rpx;
				height: 48rpx;
				text-align: center;
				line-height: 48rpx;
				.editIcon {
					$size: 20rpx;
					width: $size;
					height: $size;
				}
			}
		}
		.recommend {
			display: flex;
			align-items: center;
			font-size: 24rpx;
			padding-top: 12rpx;
			.recommendKey {
				padding-right: 1em;
				word-break: keep-all;
			}
			.recommendValue {
				display: flex;
				align-items: center;
				.recommendAvatar {
					$size: 35rpx;
					width: $size;
					height: $size;
					border-radius: 50%;
				}
				.recommendName {
					padding-left: .5em;
					max-width: 15em;
					text-overflow: ellipsis; 
					overflow: hidden; 
					white-space: nowrap; 
				}
			}
		}
	}
}

.income {
	width: 710rpx;
	margin: 0 auto;
	background-color: white;
	position: relative;
	border-radius: 5rpx;
	.incomeData {
		margin: 0 38rpx;
		padding: 35rpx 0;
		.incomeDataHead {
			display: flex;
			align-items: center;
			.income-head-left {
				display: flex;
				align-items: center;
			}
			.headTitle {
				font-size: 32rpx;
				color: #000000;
				font-weight: bold;
			}
			.headArrow {
				width: 20rpx;
				height: 20rpx;
				margin-left: 15rpx;
			}
			.income-head-right {
				line-height: 40rpx;
				font-size: 22rpx;
				background-color: var(--btn-color);
				color: white;
				padding: 0 15rpx;
				margin-left: auto;
				border-radius: 20rpx;
			}
		}
		.incomeDataBody {
			margin-top: 40rpx;
			border-bottom: .5rpx solid #d7d7d7;
			.monneyShow {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 16rpx;
				.showItem {
					display: flex;
					flex: 1;
					flex-direction: column;
					text-align: center;
					align-items: center;
					padding: 0 6rpx;
					.showItemNum {
						color: #000000;
						font-size: 34rpx;
					}
					.showItemText {
						white-space: nowrap;
						font-size: 24rpx;
					}
				}

				.showLeftText {
					text-align: left;
				}

				.showRightText {
					text-align: right;
				}

				.monneyShowTop, .monneyShowBottom {
					display: flex;
					justify-content: space-between;
					flex: 1;
					margin-bottom: 20rpx;
				}
			}

		}
		// 提现
		.monneyTake {
			display: flex;
			margin-top: 38rpx;
			justify-content: space-between;
			.monneyTakeView {
				display: flex;
				align-items: center;
				.takeViewNum {
					color: #FE0000;
					font-size: 36rpx;
					font-weight: bold;
					line-height: 50rpx;
				}
				.takeViewText {
					margin-left: 16rpx;
					font-size: 24rpx;
					color: #707070
				}
			}
			.monney-take-btn {
				line-height: 50rpx;
				color: #333333;
				padding: 0 24rpx;
				border-radius: 25rpx;
				font-size: 24rpx;
				background-color: white;
				border: 1rpx solid #999999;
			}
		}
	}
}

.shareMoneyDisplay {
	width: 710rpx;
	margin: 0 auto;
	height: 220rpx;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #000000;
	position: relative;
	
	.shareMoneyDisplay-h {
		font-size: 30rpx;
		line-height: 42rpx;
	}

	.shareMoneyDisplay-b {
		font-size: 60rpx;
		line-height: 84rpx;
		color: #FF0000;
		margin-top: 6rpx;
		margin-bottom: 4rpx;

		.shareMoneyDisplay-b-m {
			font-size: 24rpx;
		}
	}

	.shareMoneyDisplay-f {
		font-size: 24rpx;
		line-height: 33rpx;
	}

	.shareMoneyDisplay-s {
		position: absolute;
		right: 0;
		top: 24rpx;
		width: 140rpx;
		height: 55rpx;
		border-radius: 30rpx 0 0 30rpx;
		background-color: #FDC522; 
		font-size: 24rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		padding-left: 10rpx;
	}
}

.shareMoneyGet {
	width: 710rpx;
	margin: 0 auto;
	height: 90rpx;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 38rpx;

	.shareMoneyGet-text {
		display: flex;
		align-items: center;
		font-size: 28rpx;
		color: #000000;

		.shareMoneyGet-money {
			color: #FF0000;
			margin-left: 15rpx;
		}
	}

	.shareMoneyGet-btn {
		width: 120rpx;
		height: 50rpx;
		background-color: #FC2732;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24rpx;
		line-height: 30rpx;
		color: #fff;
		border-radius: 4rpx;
	}
}

.finishUserInfo {
	width: 710rpx;
	margin: 0 auto;
	height: 90rpx;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 38rpx;

	.finishUserInfo-left {
		font-size: 28rpx;
		line-height: 40rpx;
	}

	.finishUserInfo-right {
		width: 10rpx;
		height: 20rpx;
	}
}

.foot-wrap {
	background-color: #fff;
	width: 710rpx;
	margin: 15rpx auto;
	border-radius: 5rpx;

	.userInfoDisplay {
		margin: 0 25rpx;
		padding: 36rpx 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-bottom: .5rpx solid #d7d7d7;
	
		.userInfoDisplay-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
	
			.userInfoDisplay-num {
				font-size: 30rpx;
				font-weight: bold;
				line-height: 40rpx;
				color: #333333;
			}
	
			.userInfoDisplay-text {
				font-size: 22rpx;
				color: #707070;
				line-height: 40rpx;
			}
		}
	}
	
	.footer {
		height: 150rpx;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #fff;
		// margin: 30rpx 20rpx 0 20rpx;
		margin-top: 20rpx;
	
		.footer-item {
			display: flex;
			align-items: center;
	
			.footer-img {
				width: 60rpx;
				height: 60rpx;
				margin-right: 15rpx;
			}
	
			.footer-text {
				font-size: 22rpx;
				line-height: 40rpx;
				color: #333333;
			}
		}
	}
	
	.closeFooter {
		// margin: 30rpx 20rpx 0 20rpx;
		margin-top: 30rpx;
		width: 100%;
		height: 200rpx;
		color: #707070;
		font-size: 36rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}
}

.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;

	.content {
		width: 650rpx;
		background-color: #fff;
		border-radius: 10rpx;

		.content-header, .content-footer {
			height: 100rpx;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.content-header {
			font-size: 28rpx;
			font-weight: bold;
			// border-bottom: 1rpx solid #C9C9C9;
		}

		.content-footer {
			font-size: 32rpx;
			border-top: 1rpx solid #C9C9C9;
			font-weight: bold;
		}

		.content-body {
			height: 500rpx;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 30rpx 0;

			.content-body-item {
				font-size: 24rpx;
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 100%;
				padding: 0 40rpx;

				.content-body-item-left {
					font-size: 28rpx;
					width: 180rpx;
					font-weight: bold;
				}
			}
		}
	}
}

// 弹窗样式
.popup {
	min-width: 600rpx;
	background-color: #fff;
	border-radius: 10rpx;

	.popup-header,
	.popup-footer {
		height: 100rpx;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.popup-header {
		font-size: 28rpx;
		font-weight: bold;
		// border-bottom: 1rpx solid #C9C9C9;
	}

	.popup-footer {
		font-size: 32rpx;
		border-top: 1rpx solid #C9C9C9;
		font-weight: bold;
	}

	.popup-body-item {
		font-size: 24rpx;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 10rpx 50rpx 50rpx;

		.popup-body-item-left {
			font-size: 28rpx;
			width: 180rpx;
			font-weight: bold;
		}

		.popup-body-item-right {
			width: 100%;
			border: 1px solid #707070;
			padding-left: 20rpx;
			border-radius: 5rpx;
		}
	}
}