.container {
	padding: 20rpx 25rpx;
	background-color: #fff;
	border-radius: 5rpx;
	.product-title {
		font-size: 32rpx;
		line-height: 42rpx;
		font-weight: bold;
	}
	.product-subtitle {
		font-size: 24rpx;
		color: #999999;
		width: 556rpx;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-top: 10rpx;
	}
	.product-options {
		margin: 26rpx 0 10rpx;
		font-size: 24rpx;
		border-radius: 5rpx;
	}
	.order-end {
		display: flex;
		height: 140rpx;
		align-items: center;
		padding: 28rpx 0 20rpx;
		border-top: 1rpx solid #D4D4D4;
		.end-left {
			flex-wrap: wrap;
			flex: 1;
			.left-price {
				font-size: 28rpx;
				line-height: 38rpx;
				color: #FF1212;
				font-weight: bold;
			}
			.left-options {
				font-size: 20rpx;
				line-height: 28rpx;
				color: #333333;
				.left-options-title {
					margin-right: 8rpx;
				}
			}
		}
		.end-right {
			margin-left: 6rpx;
			flex-wrap: nowrap;
			.product-options-btn {
				color: white;
				font-size: 24rpx;
				line-height: 70rpx;
				width: 200rpx;
				border: none;
				background-color: #CCCCCC;
				border-radius: 35rpx;
			}
		}
	}
}
