/* 左图右文 */
.leftItem{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-bottom:30rpx;
    border-bottom: 1rpx solid #C2C2C2;
    margin:  0 30rpx 30rpx;

    .productImage{
        width: 200rpx;
        height: 200rpx;
    }

    .meta {
	    display: flex;
	    flex-direction: column;
        width: 342rpx;
        align-self:flex-end;
		
		.top{
            display: flex;
            margin-bottom:22rpx;

            .icon{
                width: 30rpx;
                height: 30rpx;
            }
            .groupNumber{
                display: flex;
                margin-left: 10rpx;
                font-size: 20rpx;
                color: #844705;
                background: #FFF4D5;
                border-radius: 20rpx;
                width: 148rpx;
                height: 30rpx;
                align-items: center;
                justify-content:center;
            }
        }
        .title{
            font-size: 28rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .desc{
            font-size: 20rpx;
            color: #999999;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .singleBuy{
            font-size: 20rpx;
            color: #999999;
            margin: 14rpx 0 6rpx 0;
        }
        .grouponInfo{
            display:flex;
            font-size: 22rpx;
            color: #FF1E1E;

            .grouponPrice {
                margin-left: 10rpx;
            }
        }
    }
    .grouponBtn{
        display: flex;
        align-self:flex-end;
        line-height: 0;

        .groupBt {
            font-size: 20rpx;
            color: #fff;
            background-color: $mainColor;
            display: inline-block;
            width: 110rpx;
            height: 40rpx;
            line-height: 40rpx;
            text-align: center;
            border-radius: 20rpx;
        }
    }

    .status{
        display: flex;
        font-size: 20rpx;
        color: #844705;
        background: #FFF4D5;
        border-radius: 20rpx;
        width: 100rpx;
        height: 30rpx;
        align-items: center;
        justify-content:center;
        margin: 38rpx 0 22rpx;
    }

    .unstart{
        background: #C2C2C2;
        color: #fff;
    }
    .over{
        background: #fff;;
        color: #C2C2C2;
        border: 1rpx solid #C2C2C2;
    }

    .miaoshaPrice{
        display: flex;
        align-items: center;

        .newPrice{
            font-size: 30rpx;
            color: #FF1E1E;
        }
        .originalPrice{
            font-size: 20rpx;
            color: #999999;
            text-decoration: line-through;
            padding-left: 10rpx;
        }
    }
}

.bargainStyle {
    border-bottom: 2rpx dashed #C2C2C2;
}

/* 上图下文 */
.topImage{
    padding-bottom: 30rpx;
    
    .container{
        width: 330rpx;
        // height: 540rpx;
        border: 1rpx solid #C2C2C2;
        background:#fff;

        .top{
            line-height: 0;
            .goods_image{
                width: 100%;
                height: 330rpx;
            }
            .tagWrapper{
                display: flex;
                justify-content: space-between;
                height: 36rpx;
                line-height: 36rpx;
                background: #FFF4D5;
                font-size: 24rpx;
    
                .sold{
                    color: #999999;
                    padding-left: 20rpx;
                }
                .tag{
                    color: #333333;
                    padding-right: 20rpx;
                    text-align: right;
                }
            }
        }
        .bottom{
            padding: 20rpx 20rpx 15rpx;
            .content{
                height: 90rpx;

                .title{
                    color: #000000;
                    font-size: 28rpx;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .desc{
                    font-size: 20rpx;
                    color:#999999;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 8rpx;
                }
            }
            .price{
                display: flex;
                align-items: center;
                .now{
                    font-size: 30rpx;
                    font-weight: bold;
                    color: #FF1E1E;
                    line-height: 42rpx;
                }
                // 会员专属
                .now-member {
                    display: flex;
                    align-items: center;
                    .member-logo {
                        width: 40rpx;
						height: 25rpx;
						margin-right: 5rpx;
                    }
                }
                .original{
                    font-size: 20rpx;
                    color: #999999;
                    text-decoration: line-through;
                    padding-left: 10rpx;
                }
                // 会员价-非会员专属商品
                .member-price {
                    font-size: 20rpx;
                    color: #000000;
                    font-weight: bold;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    .member-price-tip {
                        font-size: 18rpx;
                        width: 50rpx;
                        height: 25rpx;
                        color: white;
                        background:linear-gradient(95deg,rgba(251,71,98,1) 0%,rgba(245,178,21,1) 100%);
                        border-radius:20px;
                        margin-left: 5rpx;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}