@import "~templates/mock/mock";
@import "~templates/loading/loading";
@import "~templates/couponItem/couponItem";
@import "~styles/color";

$footerHeight: 100rpx;
$iphoneXBottomGap: 40rpx;

.container {
	padding-bottom: $footerHeight + 20rpx;
	color: $titleColor;
	overflow-x: hidden;

	&.iphoneXTrick {
		margin-bottom: $footerHeight + 20rpx + $iphoneXBottomGap;
	}
}

video {
	height: 750rpx;
	width: 100%;
	position: absolute;
	top: 0;
}

.header {
	background-color: #fff;

	.swiper,
	.videoWrapper,
	.swiper image,
	video {
		width: 100%;
		height: 750rpx;
	}

	.desc {
		color: #9fa0a0;
		font-size: 10pt;
	}
	.videoWrapper {
		background-color: #000;
	}
}

.coupons {
	margin-top: 10rpx;
	margin-bottom: 10rpx;
	padding: 20rpx 40rpx;
	color: $originalPriceColor;
	font-size: 8pt;
	background-color: #fff;
	button {
		color: $originalPriceColor;
		font-size: 8pt;
		background-color: #fff;
		text-align: left;
	}
	.coupon {
		background-color: $couponMainColor;
		color: #fff;
		padding: 10rpx 10rpx;
		margin-left: 20rpx;
		display: inline-block;
	}

	.rightIcon {
		width: 16rpx;
		height: 26rpx;
		float: right;
		margin-top: 6rpx;
	}
}

.flashCountdown {
	background-color: $mainColor;
	color: #fff;
	display: flex;
	padding: 10rpx 40rpx;
	align-items: flex-end;
	justify-content: space-between;

	.title {
		font-size: 12pt;
	}

	.desc {
		font-size: 10pt;
		margin-left: 20rpx;
		flex-grow: 1;
	}

	.timeLimit {
		display: flex;
		align-items: center;
		font-size: 10pt;

		.hour,
		.minute,
		.second {
			color: #fff;
			width: 50rpx;
			height: 40rpx;
			line-height: 40rpx;
			text-align: center;
			margin: 0 10rpx;
		}

		.hour {
			margin-left: 20rpx;
		}
	}
}

.info {
	background-color: #fff;
	padding: 20rpx 40rpx;
	margin-bottom: 10rpx;

	.tag {
		border: 1px solid $priceColor;
		font-size: 8pt;
		display: inline-block;
		padding: 4rpx 16rpx;
		color: $priceColor;
		margin-top: 10rpx;
		margin-right: 10rpx;
	}
}

.title {
	font-size: 12pt;
}

.meta {
	display: flex;
	align-items: center;
	margin-top: 20rpx;
	width: 100%;
	justify-content: space-between;
	font-size: 8pt;

	.price {
		font-size: 14pt;
		color: $priceColor;
		display: inline-block;
	}

	.originalPrice {
		text-decoration: line-through;
		color: $originalPriceColor;
		font-size: 10pt;
		display: inline-block;
	}
}

swiper-item {
	position: relative;
}
.swiper-circular {
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	right: 4px;
	bottom: 4px;
	border-radius: 50%;
	width: 80rpx;
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	z-index: 100;
	font-size: 15px;
}
.comment {
	background-color: #fff;
	padding: 20rpx 40rpx;
	margin-bottom: 20rpx;
}
button {
	margin: 0;
	padding: 0;
	line-height: 1;
}
.grouponHint {
	background-color: #fff;
	margin-bottom: 10rpx;
	padding-top: 20rpx;

	.title {
		font-size: 10pt;
		margin: 0 40rpx;
		padding-bottom: 10rpx;
		border-bottom: 1px solid $originalPriceColor;
	}

	.grouponHintImage {
		width: 100%;
		height: 112rpx;
	}
}

.desc {
	font-size: 9pt;
	color: #9fa0a0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 10rpx;
}
.pendingGroupons {
	background-color: #fff;
	color: $titleColor;
	padding: 20rpx 40rpx;
	margin-bottom: 10rpx;

	.title {
		font-size: 10pt;
		border-bottom: 1px solid $originalPriceColor;
		padding-bottom: 10rpx;
	}

	.pendingGrouponWrapper {
		border-bottom: 1px solid $originalPriceColor;

		&:last-child {
			border: none;
		}
	}
}

.line {
	margin-top: 8rpx;
	border-bottom: 1px solid #ccc;
}

.detail,
.video {
	background-color: #fff;
	width: 100%;
	padding: 20rpx 0;
	margin-bottom: 10rpx;
}

.detailTitle,
.videoTitle {
	text-align: center;
	padding: 20rpx 0;
}

.video video {
	width: 100%;
}

.content {
	box-sizing: border-box;
}

.alignnone {
	width: 100%;
	display: block;
}

.wxContent {
	font-size: 14pt;
}

.cart::after {
	content: none;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	&.iphoneXTrick {
		padding-bottom: $iphoneXBottomGap;
		background-color: #fff;
	}
	// border-top: 1px solid #eee;

	.soldOutHint,
	.unpublishedHint {
		padding: 8rpx 0;
		color: #fff;
		text-align: center;
		font-size: 9pt;
		opacity: 0.9;
	}

	.soldOutHint {
		background-color: $couponMainColor;
	}

	.unpublishedHint {
		background-color: #666;
	}

	.footerMain {
		display: flex;
		height: $footerHeight;
		text-align: center;
		background-color: #fff;
		width: 100%;
	}

	.shop,
	.cart {
		width: 100rpx;
		font-size: 8pt;
		background-color: #fff;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		color: $titleColor;
		border-radius: 0;
	}

	.icon {
		$size: 40rpx;

		width: $size;
		height: $size;
		display: block;
		margin-bottom: 10rpx;
	}

	.buy,
	.addCart {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 275rpx;
		flex-grow: 1;
		color: #fff;

		&.multi {
			font-size: 8pt;
		}
	}

	.addCart {
		background-color: $secondColor;
	}

	.buy {
		background-color: $mainColor;
	}

	.disabledBuy {
		.addCart,
		.buy {
			color: rgba(256, 256, 256, 0.2);
		}
	}
}

.actionSheetContent {
	$buttonHeight: 90rpx;

	background-color: #fff;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 11;
	padding: 20rpx 62rpx $buttonHeight+40rpx;
	transform: translateY(120%);
	transition: transform 0.4s ease;

	&.iphoneXTrick {
		padding-bottom: $buttonHeight + 40rpx + $iphoneXBottomGap;
	}

	&.show {
		transform: translateY(0);
	}

	.head {
		display: flex;
		font-size: 10pt;
		.skuDescribe {
			margin-bottom: 24rpx;
			display: flex;
		}
		.skuImg {
			$size: 180rpx;

			width: $size;
			height: $size;
			border: 1px solid #fff;
			margin-right: 40rpx;
			position: relative;
			box-shadow: 1rpx 0rpx 10rpx rgba(0, 0, 0, 0.1);
		}

		.price {
			color: $priceColor;
			font-size: 14pt;
		}

		.skuInfo {
			color: $originalPriceColor;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	.stock,
	.price,
	.property {
		margin-bottom: 5rpx;
	}
	.skuGroup {
		padding: 24rpx 0;
	}

	.sku {
		margin-bottom: 20rpx;
	}

	.title {
		margin-bottom: 20rpx;
		font-size: 28rpx;
	}

	.titleHint {
		font-size: 8pt;
		color: #ccc;
	}

	.skuItem {
		display: inline-block;
		padding: 0rpx 32rpx;
		margin-right: 20rpx;
		margin-bottom: 20rpx;
		border: 1px solid #999;
		font-size: 28rpx;
		color: #333;
		height: 60rpx;
		line-height: 60rpx;
		color: $titleColor;
	}

	.skuItem.selected {
		background-color: $mainColor;
		color: #fff;
		border: 1px solid $mainColor;
	}

	.quantity {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #ddd;
		padding-top: 40rpx;
		align-items: center;
	}

	.actionSheetBtGroup {
		margin-top: 20rpx;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		z-index: 12;
		font-size: 0;
		display: flex;

		&.iphoneXTrick {
			bottom: 40rpx;
		}

		.confirmBt {
			width: 100%;
			display: inline-block;
			border-radius: 0;
			height: $buttonHeight;
			line-height: $buttonHeight;
			font-size: 10pt;
			background-color: $mainColor;
			color: #fff;
		}

		.confirmBt[disabled] {
			background-color: #ccc !important;
		}

		.secondaryBt {
			background-color: $secondColor;
		}
	}
}

.couponActionSheet {
	padding: 0;
	background-color: $backgroundColor;

	&.iphoneXTrick {
		padding-bottom: 40rpx;
	}

	.couponList {
		height: 800rpx;

		.noCouponHint {
			color: #ddd;
			text-align: center;
			padding: 20rpx;
			border: 1px dashed #ddd;
			margin: 0 25rpx;
		}
	}

	.title {
		text-align: center;
		color: $titleColor;
		margin-bottom: 20rpx;
		font-size: 11pt;
		margin-top: 20rpx;
	}

	.couponListTitle {
		font-size: 9pt;
		margin-top: 40rpx;
		margin-bottom: 20rpx;
		padding: 0 25rpx;
	}

	.couponItemWrapper {
		padding: 0 25rpx;
		margin-bottom: 10rpx;
	}

	.gap {
		height: 40rpx;
	}
}

img,
.__bg_gif {
	width: 100%;
}

.skuScroll {
	height: 360rpx;
}
.wxParse-img {
	width: 750rpx;
}
.scrollSkus {
	min-height: 200rpx;
	max-height: 800rpx;
}
.product-card-thumbnail {
	width: 220rpx;
	height: 220rpx;
	float: left;
}
