.Wrapper{
	overflow: hidden;
	transform: translateY(0);
	.title {
		font-size: 35rpx;
		font-weight: bold;
		padding: 26rpx 25rpx;
		text-align: center;
	}

	button {
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
		border-radius: 0;
	}

	button::after {
		outline: 0;
		border-radius: 0;
		border: 0;
	}

	.searchSliders {
		position: relative;
		.dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 20rpx;
			display: flex;
			justify-content: center;
		}

		.dots .dot {
			color: #fff;
			font-size: 26rpx;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 20rpx;
			transition: all .6s;
			padding: 3rpx 18rpx;
		}
	}
	&.top-radius {
		border-top-left-radius: 10rpx;
		border-top-right-radius: 10rpx;
	}
	&.bottom-radius {
		border-bottom-right-radius: 10rpx;
		border-bottom-left-radius: 10rpx;
	}
}
