@import '~styles/color';
@import '~templates/couponItem/couponItem';
@import '~templates/loading/loading';


.statusBar {
	$height: 90rpx;

	background-color:#FFFFFF;
	color:#707070;
	font-size:28rpx;
	position:fixed;
	left:0;
	top:0;
	white-space:nowrap;
	box-shadow:0 0 2rpx rgba(0, 0, 0, 0.16);
	z-index:999;
	width: 100%;

	.statusItem {
		width: 33%;
		display: inline-block;
		text-align: center;
	}

	.statusItemName {
		margin: 0 auto;
		height: $height;
		padding-top: 35rpx;
		display: inline-block;

		&.selected {
			border-bottom: 8rpx solid $mainColor;
			color: #000000;
			font-weight: bold;
		}
	}
}

.emptyHint {
	padding-top: 320rpx;
	color: #ccc;
	font-size: 12pt;
	text-align: center;

	.couponBt {
		width: 600rpx;
		background-color: $mainColor;
		color: #fff;
		margin: 40rpx auto 0 auto;
		padding: 20rpx 0;
	}
}
