.quantity {
	display: flex;

	.value, .bt {
		$size: 60rpx;

		border: 1px solid #999;
		width: $size;
		height: $size;
		line-height: $size;
		box-sizing: border-box;
		min-height: 40rpx;
		text-align: center;
		font-size: 40rpx;
	}

	.value {
		margin: 0 6rpx;
		font-size: 40rpx;
	}
}
