@import '~styles/color';
@import '~templates/couponList/tplStyleVip/tplStyleVipSmall';

page {
	background-color: transparent;
	height: 100%;
}

.container {
	background-color: #F4F4F4;
}

// 用户信息及开通会员
.member-header {
	text-align: center;
	background-color: $vipBlack;
	color: $vipGolden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

	.member-top {
		display: flex;
		align-items: center;
		height: 200rpx;
		padding: 45rpx 60rpx 55rpx 50rpx;

		.head-button {
			display: flex;
			align-items: center;
			background-color: transparent;

			.avatar {
				$size: 100rpx;
				width: $size;
				height: $size;
				border-radius: 50%;
				border: 1rpx solid #F1F1F1;
				overflow: hidden;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		.member-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 30rpx;

			.member-user-wrap {
				display: flex;
				align-items: center;

				.member-user {
					font-size: 28rpx;
					font-weight: bold;
					color: $vipGolden;
					max-width: 200rpx;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.member-level {
					margin-left: 25rpx;
					height: 35rpx;
					width: 110rpx;
					border-radius: 30rpx;
					background-color: $vipGolden;
					color: $vipBlack;
					font-size: 22rpx;
					text-align: center;
					line-height: 35rpx;
				}

			}

			.no-member-level {
				width: 100rpx;
				height: 35rpx;
				border-radius: 30rpx;
				font-size: 18rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $vipGolden;
				color: $vipBlack;
				margin-top: 10rpx;
			}

			.integral-text {
				display: flex;
				font-size: 24rpx;
				color: $vipGolden;
				align-items: center;
				margin-top: 10rpx;
				font-weight: bold;

				.cart-arrow {
					width: 26rpx;
					height: 16rpx;
				}
			}
		}

		.head-openVip {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-left: auto;

			.openVip-btn {
				width: 210rpx;
				height: 50rpx;
				background-color: $vipGolden;
				color: $vipBlack;
				font-size: 28rpx;
				border-radius: 30rpx;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.openVip-tip {
				margin-top: 10rpx;
				font-size: 24rpx;
				color: $vipGolden;
			}
		}

	}

	.noCard {
		border-bottom: none;
	}

	.member-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30rpx 50rpx;
		color: $vipGolden;
		border-top: 1px solid $vipGolden;
		box-sizing: content-box;
		margin: 0 20rpx;

		.member-integral-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 24rpx;

			.cart-price {
				font-size: 30rpx;
				font-weight: bold;
			}

			.cart-text {
				font-size: 24rpx;
			}
		}

		.recharge {
			width: 130rpx;
			height: 50rpx;
			background-color: $vipGolden;
			border-radius: 50rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $vipBlack;
			font-size: 28rpx;
			font-weight: bold;
		}
	}
}

.noMemberCard {
	height: 200rpx;
}

.member-rights {
	background-color: white;
	padding: 20rpx;
	padding-bottom: 30rpx;
	// 标题
	.rights-item-title {
		color: $titleColor;
		font-size: 28rpx;
		padding-bottom: 20rpx;
	}

	// 会员专属商品banner
	.member-goods-banner {
		width: 100%;
		image {
			width: 710rpx;
			// height: 200rpx;
		}
	}
}

// 我的积分、会员规则、联系客服
.jump-list {
	margin-top: 20rpx;
	background-color: white;
	font-size: 28rpx;

	.jump-item {
		width: 750rpx;
		height: 80rpx;
		display: flex;
		align-items: center;
		padding: 0 20rpx;

		.jump-icon {
			width: 50rpx;
			height: 50rpx;
			padding-right: 15rpx;
		}

		.jump-arrow {
			width: 10rpx;
			height: 20rpx;
			margin-left: auto;
		}
	}

	.member-concat {
		background-color: transparent;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;

		.member-itemTitle {
			font-size: 28rpx;

		}
	}
}