$shareColor: #FE0000;
// 限时购banner
.activity-banner{
	width: 100%;
	height: 100rpx;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;

	.background-image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.price-area {
		position: absolute;
		top: 14rpx;
		left: 142rpx;
		display: flex;
		flex-direction: column;

		.price {
			font-size: 22rpx;
			.price-unit {
				display: inline-block;
			}

			.time-price {
				display: inline-block;
				line-height: 40rpx;
				font-size: 46rpx;
				font-weight: bold;
			}
		}

		.origin-price {
			font-size: 22rpx;
			text-decoration: line-through;
		}
		.price-interval {
			font-size: 22rpx;
		}
	}

	.time {
		position: absolute;
		right: 14rpx;
		top: 12rpx;
		color: $shareColor;
		text-align: right;

		.time-section {
			// min-width: 284rpx;
			display: flex;
			flex-direction: column;
			align-content: flex-start;
			font-size: 22rpx;
			font-weight: bold;

			.time-limit {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 8rpx;

				.hour,
				.minute,
				.second {
					width: 40rpx;
					height: 35rpx;
					line-height: 35rpx;
					text-align: center;
					background-color: $shareColor;
					color: #fff;
					font-weight: bold;
					border-radius: 6rpx;
					margin: 0 8rpx;
				}
				.hour{
					min-width: 40rpx;
					width: unset;
					padding: 0 8rpx;
				}
			}

		}

		.end {
			color: white;
			transform: translateY(50%);
			margin-top: -10rpx;
			font-size: 30rpx;
		}
	}

}
//抢购活动banner
.luckydraw-banner{
	width: 100%;
	height: 100rpx;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;

	.background-image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.price-area {
		position: absolute;
		top: 14rpx;
		left: 142rpx;
		display: flex;
		flex-direction: column;

		.price {
			font-size: 22rpx;
			.price-unit {
				display: inline-block;
			}

			.time-price {
				display: inline-block;
				line-height: 40rpx;
				font-size: 46rpx;
				font-weight: bold;
			}
		}

		.origin-price {
			font-size: 22rpx;
			text-decoration: line-through;
		}
		.price-interval {
			font-size: 22rpx;
		}
	}

	.time {
		position: absolute;
		right: 14rpx;
		top: 12rpx;
		color: $shareColor;
		text-align: right;

		.time-section {
			// min-width: 284rpx;
			display: flex;
			flex-direction: column;
			align-content: flex-start;
			font-size: 22rpx;
			color: #fff;
			.user-type{
				font-size: 24rpx;
			}
			.quantity,.is-draw{
				font-size: 28rpx;
			}
			.time-limit {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 8rpx;

				.hour,
				.minute,
				.second {
					width: 40rpx;
					height: 35rpx;
					line-height: 35rpx;
					text-align: center;
					background-color: $shareColor;
					color: #fff;
					font-weight: bold;
					border-radius: 6rpx;
					margin: 0 8rpx;
				}
				.hour{
					min-width: 40rpx;
					width: unset;
					padding: 0 8rpx;
				}
			}

		}

		.end {
			color: white;
			transform: translateY(50%);
			margin-top: -10rpx;
			font-size: 30rpx;
		}
	}
}
// 今日秒杀banner
.miaosha-banner {
	width: 750rpx;
	height: 100rpx;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;

	.background-image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.price-area {
		position: absolute;
		top: 2px;
		left: 145rpx;

		.price {
			.price-unit {
				font-size: 20rpx;
				display: inline-block;
				font-weight: bold;
			}

			.price-count {
				display: inline-block;
				font-size: 17x;
				margin-left: 5rpx;
				font-weight: bold;
			}

			.origin-price {
				display: inline-block;
				font-size: 20rpx;
				text-decoration: line-through;
				margin-left: 10rpx;
				color: #fff;
			}
		}
		// .count-only-wrap {
			// text-align: center;
			.count-only {
				font-size: 8px;
				border: 1rpx solid #fff;
				font-weight: bold;
				color: #fff;
				display:inline-block;
				padding: 2px;
			}
		// }
	}

	.time {
		position: absolute;
		right: 32rpx;
		top: 11rpx;
		color: $shareColor;
		text-align: right;

		.time-section {
			width: 242rpx;
			display: flex;
			flex-direction: column;
			align-content: flex-start;
			font-size: 24rpx;
			font-weight: bold;

			// .time-text {
			// 	margin-bottom: 8rpx;
			// }

			.time-limit {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 8rpx;

				.hour,
				.minute,
				.second {
					width: 40rpx;
					height: 35rpx;
					line-height: 35rpx;
					text-align: center;
					background-color: $shareColor;
					color: #fff;
					font-weight: bold;
				}
			}

		}

		.end {
			transform: translateY(50%);
			font-size: 30rpx;
		}
	}

}

// 超值拼团banner
.pintuan {
	width: 100%;
	height: 100rpx;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;

	.background-image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.price-area {
		position: absolute;
		top: 12rpx;
		left: 142rpx;
		display: flex;
		flex-direction: column;

		.price {
			.price-unit {
				font-size: 22rpx;
				display: inline-block;
			}

			.pintuan-price {
				display: inline-block;
				line-height: 40rpx;
				font-size: 46rpx;
				font-weight: bold;
			}
		}

		.origin-price {
			margin-top: 5rpx;
			font-size: 22rpx;
		}
	}

	.pintuan-section {
		min-width: 120rpx;
		position: absolute;
		right: 18rpx;
		top: 12rpx;
		color: $shareColor;
		text-align: right;

		.pintuan-text {
			font-size: 28rpx;
			height: 42rpx;
			line-height: 42rpx;
			color: #FFFFFF;
			font-weight: bold;
		}

		.pintuan-count {
			font-size: 22rpx;
			background-color: #FFFFFF;
			border-radius: 3rpx;
			text-align: center;
			padding: 0 8rpx;
		}
	}
}

// 砍价banner
.bargainBanner {
	width: 100%;
	height: 100rpx;
	color: #fff;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;

	.background-image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.price-area {
		position: absolute;
		top: 12rpx;
		left: 142rpx;
		display: flex;
		flex-direction: column;

		.price {
			.price-unit {
				font-size: 22rpx;
				display: inline-block;
			}

			.bargain-price {
				display: inline-block;
				line-height: 40rpx;
				font-size: 46rpx;
				font-weight: bold;
			}

			.low-price {
				width: 60rpx;
				// height: 28rpx;
				background: rgba(255, 255, 255, 1);
				border-radius: 3rpx;
				font-size: 20rpx;
				font-weight: bold;
				color: rgba(254, 18, 43, 1);
				margin-left: 10rpx;
				text-align: center;
				display: inline-block;
			}

			.low-price-fail {
				background: #fff;
				color: #333333;
			}
		}

		.origin-price {
			margin-top: 5rpx;
			font-size: 22rpx;
		}
	}

	.bargain-section {
		min-width: 156rpx;
		position: absolute;
		right: 20rpx;
		top: 18rpx;
		color: $shareColor;
		text-align: right;

		.bargain-text {
			font-size: 28rpx;
			height: 40rpx;
			color: #FFFFFF;
			font-weight: bold;
		}

		.bargain-count {
			font-size: 20rpx;
			color:rgba(255, 255, 255, 1);
		}
	}
}