@import '~styles/color';

page {
	background-color: #fff;
}

.header {
	border-bottom: 1px solid #ddd;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	background-color: $backgroundColor;
	z-index: 100;
}

.searchWrapper {
	height: 100rpx;
	display: flex;
	align-items: center;
	padding: 15rpx 0 15rpx 15rpx;
	z-index: 9;

	.inputWrapper {
		border: 1px solid $originalPriceColor;
		border-radius: 200rpx;
		flex-grow: 1;
		overflow: hidden;
		padding: 0 60rpx;
		font-size: 10pt;
		background-color: #fff;
		height: 70rpx;
		position: relative;
		left: 0;
		top: 0;
		z-index: 10;

		.input {
			width: 100%;
			font-size: 10pt;
			height: 70rpx;
			line-height: 70rpx;
		}

		.input-placeholder {
			color: $originalPriceColor;
		}

		.clearIncon {
			$size: 40rpx;
			padding: 10rpx;
			height: $size;
			width: $size;
			position: absolute;
			right: 20rpx;
			z-index: 11;
			top: 15rpx;
		}
	}

	.searchBt {
		color: $titleColor;
		height: 100rpx;
		line-height: 100rpx;
		padding: 0 20rpx;
		font-size: 14px;
		flex-shrink: 0;
	}
}

.sortOptions {
	width: 100%;
	display: flex;
	align-items: center;

	.sortOption {
		width: 50%;
		justify-content: center;
		height: 60rpx;
		line-height: 60rpx;
		font-size: 10pt;
		display: flex;
		align-items: center;
		color: $originalPriceColor;

		&.selected {
			color: $titleColor;
		}
	}

	.indicators {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 24rpx;
		justify-content: center;
		margin-left: 14rpx;
		margin-top: -6rpx;
	}

	.triangleIcon {
		width: 16rpx;
		height: 9rpx;
	}

	.triangleIconUp {
		margin-bottom: 6rpx;
	}
}

.main {
	margin-top: 100rpx;
	padding: 0 40rpx;

	&.indicators {
		margin-top: 160rpx;
	}

	.clearHistory {
		display: inline-block;
		padding: 4rpx 10rpx;
		float: right;
	}

	.noSearch {
		padding-top: 40rpx;
	}

	.searchHintTitle {
		font-size: 9pt;
		color: $titleColor;
		margin-bottom: 20rpx;
	}

	.noSearchKey {
		font-size: 9pt;
		color: $titleColor;
		text-align: center;
		padding: 6rpx;
	}

	.searchKey {
		padding: 0 18rpx;
		height: 50rpx;
		line-height: 50rpx;
		font-size: 9pt;
		border: 1px solid $originalPriceColor;
		display: inline-block;
		margin-right: 20rpx;
		margin-bottom: 20rpx;
	}
}

.noHint {
	text-align: center;
	font-size: 10pt;
	padding-top: 100rpx;
	color: $originalPriceColor;
}
.productContainer{
	display: flex;
	padding: 21rpx 30rpx;
	flex-wrap: wrap;
	justify-content: space-between;
}