.product-remark-popup {
	width: 90%;
	// max-height: 80%;
	--popup-round-border-radius: 20rpx;
	padding: 30rpx 26rpx;
	.product-remark-title {
		font-weight: bold;
		text-align: center;
		margin-bottom: 30rpx;
	}
}