	.container {
		width: 100%;
		height: 100%;
		background-color: #F4F4F4;
		padding-top: 10rpx;
		letter-spacing: 2rpx;
	}

	.shareMoneyDisplay {
		width: 100%;
		height: 220rpx;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #000000;
		position: relative;
		
		.shareMoneyDisplay-h {
			font-size: 30rpx;
			line-height: 42rpx;
		}

		.shareMoneyDisplay-b {
			font-size: 60rpx;
			line-height: 84rpx;
			color: #FF0000;
			margin-top: 6rpx;
			margin-bottom: 4rpx;

			.shareMoneyDisplay-b-m {
				font-size: 24rpx;
			}
		}

		.shareMoneyDisplay-f {
			font-size: 24rpx;
			line-height: 33rpx;
		}

		.shareMoneyDisplay-s {
			position: absolute;
			right: 0;
			top: 24rpx;
			width: 140rpx;
			height: 55rpx;
			border-radius: 30rpx 0 0 30rpx;
			background-color: #FDC522; 
			font-size: 24rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			padding-left: 10rpx;
		}
	}

	.shareMoneyGet {
		height: 90rpx;
		background-color: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10rpx;
		padding: 0 38rpx;

		.shareMoneyGet-text {
			display: flex;
			align-items: center;

			.shareMoneyGet-money {
				color: #FF0000;
				margin-left: 15rpx;
			}
		}

		.shareMoneyGet-btn {
			width: 120rpx;
			height: 50rpx;
			background-color: #FC2732;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24rpx;
			line-height: 30rpx;
			color: #fff;
			border-radius: 4rpx;
		}
	}

	.finishUserInfo {
		width: 100%;
		height: 90rpx;
		background-color: #fff;
		margin-top: 5rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 38rpx;

		.finishUserInfo-left {
			font-size: 28rpx;
			line-height: 40rpx;
		}

		.finishUserInfo-right {
			width: 10rpx;
			height: 20rpx;
		}
	}

	.userInfoDisplay {
		width: 100%;
		height: 160rpx;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #fff;
		margin-top: 30rpx;

		.userInfoDisplay-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.userInfoDisplay-num {
				font-size: 50rpx;
				line-height: 70rpx;
			}

			.userInfoDisplay-text {
				font-size: 28rpx;
				line-height: 40rpx;
			}
		}
	}

	.footer {
		width: 100%;
		height: 200rpx;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #fff;
		// margin: 30rpx 20rpx 0 20rpx;
		margin-top: 30rpx;

		.footer-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.footer-img {
				width: 88rpx;
				height: 88rpx;
				margin-bottom: 15rpx;
			}

			.footer-text {
				font-size: 28rpx;
				line-height: 40rpx;
				font-weight: bold;
			}
		}
	}

	.closeFooter {
		// margin: 30rpx 20rpx 0 20rpx;
		margin-top: 30rpx;
		width: 100%;
		height: 200rpx;
		color: #707070;
		font-size: 36rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}

	.modal {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10000;

		.content {
			width: 650rpx;
			background-color: #fff;
			border-radius: 10rpx;

			.content-header, .content-footer {
				height: 100rpx;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.content-header {
				font-size: 28rpx;
				font-weight: bold;
				// border-bottom: 1rpx solid #C9C9C9;
			}

			.content-footer {
				font-size: 32rpx;
				border-top: 1rpx solid #C9C9C9;
				font-weight: bold;
			}

			.content-body {
				height: 500rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				padding: 30rpx 0;

				.content-body-item {
					font-size: 24rpx;
					display: flex;
					flex-direction: row;
					align-items: center;
					width: 100%;
					padding: 0 40rpx;

					.content-body-item-left {
						font-size: 28rpx;
						width: 180rpx;
						font-weight: bold;
					}
				}
			}
		}
	}