@import './templates/bigPic/bigPic';
@import './templates/twoPic/twoPic';
@import './templates/smallPic/smallPic';
@import './templates/largePic/largePic';
@import './templates/threePic/threePic';

.section {
	.sectionTitle {
		font-size: 35rpx;
		font-weight: bold;
		padding: 26rpx 25rpx 0;
		text-align: center;
	}

	.productThreePicContainer {
		width: 100%;
		display: flex;
		padding: 25rpx;
		flex-wrap: nowrap;
		justify-content: space-between;
		.twoPicMore {
			// 穿透子组件
			margin-right: 25rpx;
		}
	}
	.productContainer {
		display: flex;
		padding: 25rpx;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.sectionMore {
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;
		
		.moreButton {
			font-size: 28rpx;
			color: #707070;
			background: #fff;
		}

		.rightIcon {
			width: 20rpx;
			height: 20rpx;
			margin-left: 10rpx;
		}
	}
}