@import './bg';

$mainColor: #f34353;
$textColor: #ec0023;
.container {
	background-color: $mainColor;
	padding-bottom: 40px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 560rpx;
	font-family: "PingFang SC";

	.coupon {
		width: 600rpx;
		height: 200rpx;
		margin: 20rpx auto 80rpx;
		flex-direction: column;
		.middle{
			padding: 35rpx 0 0 40rpx;
			display: flex;
			justify-content: space-between;
			
			.title {
				color: $textColor;
				font-size: 30rpx;
				padding-top: 35rpx;
				overflow : hidden;
                text-overflow: ellipsis;
				white-space: nowrap;
			}
	
			.price {
				padding-right: 40rpx;
				font-size: 72rpx;
				color: $textColor;
				text{
					font-size: 50rpx
				}
			}

		}

		.date {
			position: absolute;
			color: #333333;
			font-size: 22rpx;
			bottom: 10rpx;
			left: 80rpx;
		}
	}
	.goldCoin{
		text-align: center;
		.title{
			font-size: 32rpx;
			color: #FFFFFF;
		}
		.number{
			color: #FDE166;
			font-size: 80rpx;
			padding: 10rpx 0 0 65rpx;
			text{
				color: #FFFFFF;
				font-size: 32rpx;
				padding-left: 30rpx;
			}
		}
		.price{
			color: #FFFFFF;
			font-size: 24rpx;
			padding-top: 15rpx;
		}
	}
	.receiveRedpacketBg {
		width: 238px;
		height: 58px;
	}

	.btGroup {
		display: flex;
		justify-content: center;
		text-align: center;

		.btBg {
			width: 158px;
			height: 58px;
		}
	}

	.products {
		margin-top: 20px;
		background: #fff;

		.title {
			text-align: center;
			color: #fff;
			margin-bottom: 20px;
			vertical-align: middle;
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: center;

			&::before {
				content: '';
				display: inline-block;
				border-bottom: 2px solid #fff;
				width: 20px;
				margin-right: 5px;
			}

			&::after {
				content: '';
				display: inline-block;
				border-bottom: 2px solid #fff;
				width: 20px;
				margin-left: 5px;
			}
		}

		.label {
			display: flex;
			justify-content: center;
			font-size: 32rpx;
			text-align: center;
			align-items: center;
			color: #333;
			// padding: 30rpx 0;
			height: 90rpx;
			line-height: 90rpx;
	
			.dot{
				padding: 0 30rpx;
			}
		}
	}
}
.iphone5-style .date {
	bottom: 15rpx !important;
}