.container {

	.head{
		padding: 25rpx 25rpx 25rpx 36rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.rule{
			display: flex;
			align-items: center;
			.question{
				width: 30rpx;
				height: 30rpx;
				border-radius: 100%;
				background: #FD417B;
				color: #fff;
				font-size: 24rpx;
				font-weight: bold;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.instruction{
				padding-left: 10rpx;
				font-size: 24rpx;
				font-weight: bold;
				color: #FD417B;
			}
		}
		.status{
			font-size: 24rpx;
			color: #FD417B;
			font-weight: bold;
		}
	}
	.order{
		margin: 0 25rpx;
		background: #fff;
		padding: 20rpx;
		border-radius: 10rpx;
		.crowding{

			.otherPay{
				width: 400rpx;
				height: 80rpx;
				color: #fff;
				background: #5CB4AE;
				border-radius: 50rpx;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 40rpx auto 20rpx;
			}
			.ownPay{
				display: flex;
				justify-content: space-around;
				margin: 40rpx auto 20rpx;
				.refund{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 276rpx;
					height: 80rpx;
					color: #fff;
					background: #999999;
					border-radius: 50rpx;
					font-size: 24rpx;
					line-height: 1.1;
				}
				.payTail{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 276rpx;
					height: 80rpx;
					color: #fff;
					background: #5CB4AE;
					border-radius: 50rpx;
					font-size: 32rpx;
				}
			}
		}
		.crowded{
			font-size: 32rpx;
			font-weight: bold;
			color: #FD417B;
			text-align:center;
			padding: 62rpx 0 38rpx;
		}
	}
	.progress{
		.i-progress{
			padding: 0 20rpx;
		}
		.amount{
			padding: 16rpx 0 10rpx;
			font-size: 27rpx;
			color: #000000;
			display: flex;
			justify-content: flex-end;
			.price{
				color: #FD417B;
				font-weight: bold;
			}
		}
		.currentPrice{
			padding-top: 10rpx;
			font-size: 27rpx;
			font-weight: bold;
			color: #FD417B;
			padding-left: 94rpx;
		}
	}
	.panel{
		padding: 60rpx 25rpx 0;
		.info{
			background: #ffffff;
			text-align: center;
			padding: 20rpx;
			border-radius: 10rpx;
			.avatar{
				width: 110rpx;
				height: 110rpx;
				border-radius: 100%;
				border: 5rpx solid #FFFFFF;
				margin-top: -75rpx;
			}
			.text{
				font-size: 32rpx;
				font-weight: bold;
				color: #FD417B;
				padding: 27rpx 0 43rpx;
			}
		}
		.opera{
			background: #ffffff;
			padding: 40rpx 25rpx 5rpx;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 25rpx;
			.text{
				padding-bottom: 40rpx;
				font-size: 27rpx;
				font-weight: bold;
				text{
					color: #FD417B;
				}
			}
		}
		.agent{
			background: transparent;
		}
	}
	.btn{
		width: 500rpx;
		height: 80rpx;
		background: #FD417B;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 40rpx;
		color: #ffffff;
		margin-bottom: 35rpx;
	}
}
.modal{
	display: flex;
	flex-direction: column;
	width: 560rpx;
	padding: 30rpx 50rpx 0;
	border-radius: 10rpx;
	.info{
		background: #ffffff;
		text-align: center;
		padding: 20rpx;
		border-radius: 10rpx;
		.avatar{
			width: 110rpx;
			height: 110rpx;
			border-radius: 100%;
			border: 5rpx solid #FFFFFF;
		}
		.text{
			font-size: 32rpx;
			font-weight: bold;
			color: #FD417B;
			padding: 27rpx 0 43rpx;
		}
	}
	.inputField{
		display: flex;
		align-items: center;
		margin: 0 auto;
		border-bottom: 1rpx solid #E9E9E9;
		.yuan{
			color: #000000;
			font-weight: bold;
		}
		.input{
			color: #FD417B;
			font-weight: bold;
			padding-left: 10rpx;
		}
	}
	.support{
		width: 250rpx;
		height: 80rpx;
		background: #FD417B;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 40rpx;
		color: #ffffff;
		margin: 40rpx auto;
	}
}

.shareModalContent{
	height: 280rpx;
	display: flex;
	justify-content: space-around;

	&.iphoneXTrick{
		margin-bottom: 40rpx;
	}

	.shareBtn{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 67.5rpx;
		background-color: transparent;
		
		image{
			width: 90rpx;
			height: 90rpx;
		}
		view{
			padding-top: 20rpx;
			font-size: 28rpx;
			line-height: 1.5;
			color: #333;
		}
	}
}
.close {
	position: absolute;
	width: 40rpx;
	height: 40rpx;
	top: 15rpx;
	right: 15rpx;
}
