	.container {
		background: #fff;
		padding: 50rpx 30rpx;
		margin: 30rpx 0;
		

		.item {
			width: 100%;
			display: flex;
			flex-direction: row;
			margin-bottom: 35rpx;
		}

		.text {
			width: 155rpx;
			color: #000000;
			font-size: 24rpx;
			line-height: 60rpx;
			text-align: right;
			margin-right: 30rpx;
			.required {
				color: #FF0000;
			}
		}

		.type {
			flex: 1;
			font-size: 24rpx;

			.picker {
				height: 60rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1rpx solid #c2c2c2;
				border-radius: 5rpx;
			}

			.pickerDate {
				width: 300rpx;
			}

			.pickerTime {
				width: 180rpx;
			}

			textarea, .textareafix {
				width: 480rpx;
				height: 180rpx;
				border: 1rpx solid #c2c2c2;
				border-radius: 5rpx;
				padding: 10 20rpx;
			}

			input {
				height: 60rpx;
				display: flex;
				align-items: center;
				border: 1rpx solid #c2c2c2;
				border-radius: 5rpx;
				text-align: left;
				padding: 0 20rpx;
			}

			.input_480 {
				width: 480rpx;
			}

			.input_300 {
				width: 300rpx;
			}

			.uploadSFZ {
				width: 120rpx;
				height: 120rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5rpx;
				background-size: 100% 100%;
			}
		}
	}
