/* pages/couponList/couponList.wxss */
@import '~templates/couponItem/couponItem';
.couponsList{
	padding: 40rpx 20rpx;
	.couponItemWrapper{
		margin-bottom: 30rpx;
	}
}
.vendorImage{
	width: 100%;
}
.noCouponHint {
	color: #ddd;
	text-align: center;
	padding: 20rpx;
	border: 1px dashed #ddd;
	margin: 0 25rpx;
}