.couponsList{
	padding: 40rpx 25rpx;
	.couponItemWrapper{
		margin: 25rpx auto 0;
		width: 650rpx;
		text-align: left;
		line-height: 1.5;
	}
}
.vendorImage{
	width: 100%;
}
.noCouponHint {
	color: #ddd;
	text-align: center;
	padding: 20rpx;
	border: 1px dashed #ddd;
	margin: 0 25rpx;
	font-size: 28rpx;
}

.viewProduct {
	height: 80rpx;
	line-height: 80rpx;
	text-align: center;
	background-color: #729153;
	color: #fff;
	width: 370rpx;
	margin: 80rpx auto;
	border-radius: 40rpx;
	font-size: 28rpx;
}