@import '~styles/color';
@import '~templates/productLayout/productLayout';
@import '../home/templates/newUserCoupon/newUserCoupon';

page {
    background-color: #fff;
}

.container {
	height: auto;
	width: 100%;
	box-sizing: border-box;
}

.main {
	margin-top: 90rpx;
}

.home-guide {
    position: fixed;
    top: 10rpx;
    right: 40rpx;
    z-index: 10000;
}

.home-guide_img {
    width: 399rpx;
    height: 68rpx;
}