@import "~styles/color";
$meter: 20rpx;
.container {
	padding: 0 $meter;
	background-color: #fff;
	margin-top: 10rpx;

	.storeList-section {
		padding: 30rpx 5rpx 30rpx 8rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.receive-time {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25rpx 0 28rpx;
		.left{
			display: flex;
			align-items: center;
			font-size: 24rpx;
			line-height: 1;
			.title{
				color: #707070;
			}
			.time {
				margin-left: 30rpx;
				color: #000000;
			}
		}
	}

	.arrow-right{
		display: flex;
		align-items: center;
		.text{
			color: #707070;
			font-size: 24rpx;
		}
	}
}

.wrapper {
	padding-top: 30rpx;

	.address-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 28rpx;
		color: #000000;
		margin-bottom: 30rpx;
	}

	.address-part {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// flex-wrap: wrap;

		.address-name {
			font-weight: bold;
			font-size: 32rpx;
			color: $titleColor;
			// margin-right: 30rpx;
		}

		.address-distance {
			font-size: 24rpx;
			color: $titleColor;
		}
	}

	.address-info {
		display: flex;
		margin-top: 30rpx;
		// margin-bottom: 25rpx;
		flex-wrap: wrap;

		.address-section {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			flex-grow: 1;
			width: 150rpx;

			.address-title {
				font-size: 24rpx;
				color: $tagColor;
				margin-bottom: 5rpx;
			}

			.address-detail,
			.address-time,
			.address-phone {
				font-size: 28rpx;
				color: $titleColor;
			}
		}

		.address-first {
			width: 100%;
			margin-bottom: $meter;
		}

		.address-second {
			border-left: 1px solid $borderColor;
			padding-left: 35rpx;
			box-sizing: border-box;
		}
	}

}