@import "~utils/wxParse/wxParse.scss";
@import "~styles/color.scss";

page{
	background:#fff;
}

.header {
	background-color: #fff;
	width: 100%;
	height: 750rpx;

	.swiper,.videoWrapper,.swiper image, video {
		width: 100%;
		height: 750rpx;
	}

	.desc{
		color: #9fa0a0;
		 font-size: 10pt;
	}
	.videoWrapper {
		background-color: #000;
	}
}
.u-author{
		float: right;
		color: #333333;
		font-size: 24rpx;
		margin-top: -40rpx;
		margin-right: 30rpx;
	}
.p-single{
	width:100%;
	box-sizing: border-box;
	padding:0rpx 0rpx 180rpx;
	line-height:1.8;
	max-width: 750rpx;

	.wxParse-p {
		image {
			max-width: 100% !important;
		}
	}

	.m-header{
		padding: 30rpx;
	}
	.dash{
		width: 6rpx;
		height: 6rpx;
		background: #000000;
		margin: 20rpx;
		border-radius: 100%;
	}
}

.wxParse-img {
	width: 750rpx;
}
.wxParse-section {
	image {
		max-width: 100% !important;
	}
}

swiper{
	width: 750rpx;
	height: 750rpx;
}
swiper image{
	width: 100%;
	height: 100%;
}
.alignnone{
	display: block;
	width: 100%;
}
.product-card{
	width: 90%;
	color: #333;
	padding: 20rpx;
	margin: 40rpx auto;
	box-shadow: 2px 2px 12px #ccc;
	border-radius: 10rpx;
	overflow: hidden !important;
}
.product-card-thumbnail{
	width: 240rpx !important;
	height: 240rpx !important;
	float: left;
}
.product-card-title{
 	overflow: hidden !important;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
    text-overflow: ellipsis;
	font-size: 16px;
	font-weight: normal;
	color: $titleColor;
	padding: 18rpx 0 0 25rpx;
	margin-top: 0;
	min-height: 110rpx;
	line-height: 1.5;
}
.product-card-except{
	overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis;
	font-size: 24rpx;
	color:$tagColor;
	padding-left: 20rpx;
	height: 30rpx;
}
.product-card-meta{
	display: flex;
	padding: 30rpx 0 0 20rpx;
}
.product-card-price{
	color:$priceColor;
	font-size: 36rpx;
}

.s-comments{
	padding:120rpx 0;
}
.poster{
	width:100%;
	height:340rpx;
}
.m-tt{
	font-size: 36rpx;
	color:$titleColor;
	margin-top:20rpx;
	margin-bottom:20rpx;
	font-weight: bold;
}
.m-desc{
	font-size: 28rpx;
	color: #707070;
}
.borderLine{
	width:110rpx;
	height: 2rpx;
	background:#ccc;
	margin:80rpx 0;
}
.c-commentBar__actions .icon-share, .c-commentBar__actions {
  width: 140rpx;
  height: 56rpx;
  padding: 0 10rpx;
  background-size: 60rpx 60rpx;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  box-shadow: none;
}
.icon-share::after{
  border:none;
}

.promote{
	margin: 60rpx auto 100rpx;
	background: #fff;
	overflow: hidden;

	.label{
		display: flex;
		justify-content: center;
		font-size: 32rpx;
		text-align: center;
		align-items: center;
		color: $titleColor;
		height: 90rpx;
		line-height: 90rpx;

		.dot{
			padding: 0 30rpx;
		}
	}
}

.footer{
	$height: 100rpx;
	$paddingBottom: 40rpx;

	border-top: 1rpx solid #ccc;
	position: fixed;
	width: 100%;
	height: $height;
	padding: 0 30rpx;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	background:#fff;
	&.iphoneXTrick{
		padding-bottom: $paddingBottom;
		height: $height + $paddingBottom;
	}
	.left, .right{
		display: flex;
		align-items: center;
		.item{
			height: 100%;
			display: flex;
			align-items: center;
			&.last-item{
				padding-left: 40rpx;
			}
		}
		.icon{
			margin-right: 8rpx;
		}
		.text{
			font-size: 30rpx;
			color: #707070;
		}
	}
}

button{
	margin: 0;
	padding: 0;
	background: none;
	border-radius: 0;
}
button::after{
	border: none;
	outline: none;
}

.relateShop{
	padding: 10rpx 30rpx;
	.meta{
		height: auto;
	}
	.relateShopItem{
		width: 340rpx;
		margin-bottom: 40rpx;
	}
	.relateShopItem:nth-child(odd){
		float: left;
	}
	.relateShopItem:nth-child(even){
		float: right;
	}
}

/* 底部弹窗 */
.actionShareModal{
	background-color: #fff;
	width: 100%;
	&.iphoneXTrick {
		padding-bottom: 40rpx;
	}
	&.show {
		transform: translateY(0);
	}
	.close {
		position: absolute;
		width: 48rpx;
		height: 48rpx;
		top: 15rpx;
		right: 15rpx;
	}
	.shareModalContent{
		height: 280rpx;
		display: flex;
		justify-content: space-around;
		.shareBtn{
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 67.5rpx;
			background-color: transparent;
	
			.image{
				width: 90rpx;
				height: 90rpx;
			}
			.text{
				padding-top: 20rpx;
				font-size: 28rpx;
				line-height: 1.5;
				color: #333;
			}
		}
	}
}