.bar-center {
	color: #333333;
	font-size: 24rpx;
	width: 100%;
	font-weight: normal;
	background-color: #fff;
	border-radius: 32rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 1rpx solid rgba(212, 212, 212, .5);
	.bar-center-icon {
		font-size: 29rpx;
		margin: 0 10rpx;
	}
}