.tplStyleFour{
	.couponItem {
		width: 650rpx;
		height: 160rpx;
		font-size: 0;
		position: relative;
		left: 0;
		top: 0;
	
		.couponInfo {
			position: absolute;
			z-index: 2;
			color: #fff;
			display: flex;
			width: 100%;
	
			.left {
				width:200rpx;
				height:160rpx;
				display:flex;
				align-items:center;
				justify-content:center;

				.reduceCost {
					font-size: 64rpx;
				}
				.discount {
					font-size: 22rpx;
				}
				.yuan {
					font-size: 22rpx;
				}
			}
	
			.center {
				padding-top: 40rpx;
				width: 300rpx;
				display: flex;
				flex-direction: column;
				flex-shrink: 0;
				.couponDesc {
					font-size: 20rpx;
				}
				view{
					line-height: 1.5;
				}
				text{
					font-size: 16rpx;
					position: absolute;
					bottom: 20rpx;
				}
			}
	
			.right {
				display:flex;
				justify-content:center;
				align-items:center;
				height:130rpx;
				width:130rpx;
				
				.couponTitle{
					font-size: 20rpx;
				}
				&.rightCenter {
					justify-content: center;
					align-items: flex-end;
				}
				.btn{
					display:flex;
					justify-content:center;
					align-items:center;
					.useBtn{
						font-size: 24rpx;
						width: 55rpx;
						line-height: 1.2;
					}
					.arrow{
						padding: 0 10rpx;
						image{
							width: 20rpx;
							height: 20rpx;
						}
					}
	
				}
				.getBt {
					background-color: $couponMainColor;
					color: #fff;
					width: 110rpx;
					height: 40rpx;
					line-height: 40rpx;
					text-align: center;
					margin-bottom:-4rpx;
				}
	
				.radio {
					$size: 32rpx;
	
					height: $size;
					width: $size;
					margin-right: 20rpx;
					flex-shrink: 0;
					border: 1px solid #ccc;
					border-radius: 50%;
					line-height: $size;
					text-align: center;
					background:#f4f4f4;
	
					&.selected {
						background-color: $couponMainColor;
						border-color: $couponMainColor;
					}
	
					.radioIcon {
						$iconSize: 24rpx;
	
						height: $iconSize;
						width: $iconSize;
						margin-top: 2rpx;
					}
				}
			}
		}
	
		.bg {
			width: 650rpx;
			height: 160rpx;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
	}
}