.tplStyleFour{
	.couponItem {
		position: relative;
		left: 0;
		top: 0;
		.couponInfo {
			color: #fff;
			display: flex;
			width: 100%;
			height: 160rpx;
	
			.left {
				display:flex;
				align-items:center;
				flex-direction: column;
				justify-content:center;
				z-index: 2;
				width: 226rpx;

				.reduce{
					display: flex;
					align-items: flex-end;
					.reduceCost {
						font-size: 64rpx;
						line-height: 0.8;
					}
					.discount {
						font-size: 22rpx;
					}
				}

				.least{
					font-size: 20rpx;
				}
			}

			.center {
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 2;
				width: 250rpx;
				.desc {
					font-size: 20rpx;
					padding-bottom: 10rpx;
				}
				.tag{
					font-size: 16rpx;
					position: absolute;
					bottom: 20rpx;
				}
			}
			
			.right {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				z-index: 2;
				line-height: 2;
				width: 174rpx;

				&.rightCenter {
					justify-content: center;
					align-items: flex-end;
				}
				
				.radio {
					$size: 32rpx;
	
					height: $size;
					width: $size;
					margin-right: 20rpx;
					flex-shrink: 0;
					border: 1px solid #ccc;
					border-radius: 50%;
					line-height: $size;
					text-align: center;
					background:#f4f4f4;
					
					&.selected {
						background-color: $couponMainColor;
						border-color: $couponMainColor;
					}

					.radioIcon {
						$iconSize: 24rpx;
	
						height: $iconSize;
						width: $iconSize;
						margin-top: 2rpx;
					}
				}
				
				.least{
					font-size: 20rpx;
				}
				.btn{
					width: 96rpx;
					height: 26rpx;
					line-height: 26rpx;
					border-radius: 14rpx;
					background: #fff;
					font-size: 18rpx;
					font-weight: bold;
					color: #FB4762;
					text-align:center;
				}
				.unable{
					color: #000000;
				}
			}
		}
		.bg {
			width: 650rpx;
			height: 160rpx;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
		}
	}
}