@import '~styles/color';

.title {
    font-size: 35rpx;
    font-weight: bold;
    padding: 26rpx 25rpx 0;
    text-align: center;
}

.live-list {
    background-color: #fff;
    padding: 6rpx 26rpx;
    .live-wrap{
        padding: 20rpx 0;
        border-bottom: 1rpx solid #d4d4d4;
        display: flex;
        &.live-wrap:last-child {
            border: none;
        }
        .live-left {
            width: 300rpx;
            height: 200rpx;
            margin-right: 32rpx;
            .live-img {
                width: 100%;
                height: 100%;
                background-color: #d8d8d8;
            }
        }
        .live-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            .live-title {
                color: #333333;
                font-size: 24rpx;
                margin-bottom: 10rpx;
            }
            .live-content {
                font-size: 20rpx;
                color: #999999;
                line-height: 32rpx;
                // height: 26rpx;
            }
            .live-btn-wrap {
                font-size: 24rpx;
                display: flex;
                justify-content: space-between;
                margin-top: auto;
                line-height: 50rpx;
                color: $mainColor;
                .live-btn {
                    line-height: 50rpx;
                    border-radius: 25rpx;
                    font-size: 24rpx;
                    width: 160rpx;
                    color: white;
                }
            }
        }
    }
}
