@import '~styles/color';

$footerHeight: 100rpx;

.container {
	padding-top: 20rpx;
	margin-bottom: $footerHeight + 100rpx;
}

.itemList {

	.item {
		display: flex;
		padding: 20rpx;
		margin-bottom: 10rpx;
		font-size: 10pt;
		background-color: #fff;

		.itemImage {
			$size: 140rpx;

			height: $size;
			width: $size;
			margin-right: 20rpx;
			flex-shrink: 0;
		}

		.itemInfo {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
		}

		.itemMeta {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items:flex-end;
		}

		.propertyNames {
			color: $originalPriceColor;
			font-size: 8pt;
			margin: 10rpx 0;
		}

		.itemPrice {
			font-size: 12pt;
			color: $priceColor;
		}

		.itemQuantity {
			font-size: 8pt;
		}
	}
}

.textareaWrapper {
	width: 100%;
	padding: 0 20rpx;
	margin: 20rpx 0;

	.textarea {
		padding: 20rpx;
		width: 100%;
		background-color: #fff;
		height: 180rpx;
		font-size: 10pt;
	}
}

.address {
	padding: 20rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20rpx;
	background-color: #fff;
	font-size: 10pt;

	.addressIcon {
		width: 30rpx;
		height: 38rpx;
		flex-shrink: 0;
		margin-right: 10rpx;
	}
	.addressValue {
		flex-grow: 1;
	}

	.addressInfo {
		font-size: 10pt;
		padding: 0 10rpx;
	}

	.phone {
		float: right;
	}

	.rightIcon {
		height: 26rpx;
		width: 16rpx;
		margin-left: 10rpx;
		flex-shrink: 0;
	}
}

.priceInfo {
	padding: 0 20rpx;
	background-color: #fff;

	.priceInfoItem {
		border-bottom: 1px solid #eee;
		padding: 20rpx 0;
		display: flex;
		justify-content: space-between;
		font-size: 10pt;
	}

	.priceInfoItem:last-child {
		border: none;
	}

	.priceInfoItemValue {
		color: $priceColor;
		display: flex;
		align-items: center;
	}

	.recommendCouponHint {
		color: $couponMainColor;
		border: 1px solid $couponMainColor;
		padding: 4rpx 10rpx;
		display: inline-block;
		font-size: 8pt;
		margin-left: 20rpx;
	}

	.rightIcon {
		height: 26rpx;
		width: 16rpx;
		margin-left: 10rpx;
		flex-shrink: 0;
	}

}


.footer {
	height: $footerHeight;
	background-color: #fff;
	display: flex;
	border-top: 1px solid #eee;
	line-height: $footerHeight;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	.totalPrice {
		padding: 0 20rpx;
		flex-grow: 1;
		text-align: right;
	}

	.totalPriceTitle {
		font-size: 10pt;
	}

	.totalPriceValue {
		color: $priceColor;
	}

	.payBt {
		height: $footerHeight;
		border-radius: 0;
		font-size: 12pt;
		width: 220rpx;
		background-color: $mainColor;
		color: #fff;
		text-align: center;
		line-height: $footerHeight;
	}

}

.textarea-placeholder {
	color: $originalPriceColor;
}
