page {
	background-color: #fff;
}
.container {
	margin-bottom: 20rpx;
	.banner {
		margin-bottom: 15rpx;
		height: 350rpx;
		width: 100%;
		image{
			width: 100%;
			height: 100%;
		}
	}

	.itemWrapper {
		margin-bottom: 5rpx;
	}
	
	.bargain {
		&:first-child {
			margin-top: 10rpx;
		}
	}

	.bottomHint {
		text-align: center;
		color: #ccc;
		font-size: 10pt;
		margin-bottom: 20rpx;
		margin-top: 20rpx;
	}
}
