@import '~styles/color';
.m-list {
    width: 670rpx;
    margin-bottom: 20rpx;
    padding-bottom: 10rpx;
    $f-fs-15: 30rpx;
    $f-fs-18: 36rpx;
    >.m-desc {
        padding: 26rpx 0 0 30rpx;
        width: 100%;
        .m-tt {
            font-size: $f-fs-18;
            color: $titleColor;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .m-toe {
            margin: 10rpx 0rpx 32rpx 0rpx;
            font-size: $f-fs-15;
            color: $tagColor;
            .f-toe {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }
    }
    image {
        width: 100%;
		height: 400rpx;
		border-radius: 10rpx;
    }
}