@import '~styles/color';
.modal {
	width: 650rpx;
	background: #ffffff;
	border-radius: 10rpx;
		.header {
			height: 90rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #000000;
			font-size: 32rpx;
			margin-bottom: 20rpx;
			position: relative;

			.headerText {
				width: 280rpx;
				overflow: hidden;
				white-space: nowrap;
				-webkit-line-clamp: 1;
				text-overflow: ellipsis;
				height: 45rpx;
				line-height: 45rpx;
				font-weight: bold;
			}
		}
		// 购买数量
		.quantity {
			padding-bottom: 25rpx;
			.title {
				margin-bottom: 20rpx;
				font-size: 28rpx;
				color: rgba(51, 51, 51, 1);
				font-weight: bold;
			}
		}

		// 配送方式
		.deliveryStyle {
			.express {
				border-top: 1rpx solid #ebedf0;
				background: #fff;
				display: flex;
				flex-direction: column;
				font-size: 28rpx;

				.item-text {
					padding: 30rpx 0;
					font-size: 28rpx;
					color: rgba(51, 51, 51, 1);
					font-weight: bold;
				}

				.radio-group {
					display: flex;
					width: 100%;

					label {
						display: flex;
						align-items: center;

						.title {
							font-size: 28rpx;
							color: #000000;
							padding: 8rpx 40rpx 0 10rpx;
							font-weight: normal;
						}

						&:last-child .title {
							padding-right: 0;
						}
					}
				}

				/*  重写 radio 样式  */
				/* 未选中的 背景样式 */
				radio .wx-radio-input {
					border-radius: 50%;
					/* 圆角 */
					width: 36rpx;
					height: 36rpx;
				}

				/* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
				radio .wx-radio-input.wx-radio-input-checked {
					border: none;
					background: $mainColor;
					width: 40rpx;
					height: 40rpx;
				}

				/* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
				radio .wx-radio-input.wx-radio-input-checked::before {
					border-radius: 50%;
					/* 圆角 */
					width: 40rpx;
					/* 选中后对勾大小，不要超过背景的尺寸 */
					height: 40rpx;
					/* 选中后对勾大小，不要超过背景的尺寸 */
					line-height: 40rpx;
					text-align: center;
					font-size: 30rpx;
					/* 对勾大小 30rpx */
					color: #fff;
					/* 对勾颜色 白色 */
					background: transparent;
					transform: translate(-50%, -50%) scale(1);
					-webkit-transform: translate(-50%, -50%) scale(1);
				}
			}
		}

		.footer {
			height: 90rpx;
			background: #F4F4F4;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 50rpx;

			.money {
				color: #F52D2D;
				font-size: 36rpx;
			}

			.addCart {
				background: $mainColor;
				border-radius: 25rpx;
				width: 200rpx;
				height: 50rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #ffffff;
				font-size: 24rpx;
				line-height: 33rpx;
			}
		}
}

.content {
	padding: 0 50rpx;
	background: #ffffff;
	margin-bottom: 30rpx;

	.item {
		margin-bottom: 10rpx;

		.itemTitle {
			color: #000000;
			font-size: 26rpx;
			margin-bottom: 20rpx;
			font-weight: bold;
		}

		.itemContent {
			.itemSku {
				position: relative;
				display: inline-flex;
				align-items: center;
				justify-content: center;
    		min-width: 80rpx;
    		margin: 0 24rpx 24rpx 0;
    		overflow: hidden;
				color: #323233;
				background: #f7f8fa;
    		font-size: 26rpx;
    		line-height: 32rpx;
    		vertical-align: middle;
    		border-radius: 8rpx;
				.sku_thumbnail{
					z-index: 1;
					width: 48rpx;
					height: 48rpx;
					margin: 8rpx 0 8rpx 8rpx;
					border-radius: 4rpx;
				}
				.sku_name{
					z-index: 1;
					padding: 16rpx;
				}
			}
			.active {
				background: $mainColor;
				color: #ffffff;
				border: none;
			}
			.disable {
				border-color:#ccc;
				color:#eee;
			}
		}
	}
	&.bottom-content{
		padding:0
	}
}

.close {
	position: absolute !important;
	right: 18rpx;
	top: 18rpx;
	z-index:999;
}

.bottomModal {
	background-color: #fff;
	padding: 20rpx 32rpx 130rpx;
	&.iphoneXTrick{
		padding-bottom: 170rpx;
	}

	.scrollSkus {
		min-height: 200rpx;
		max-height: 800rpx;
	}

	.head {
		margin-bottom: 24rpx;
		display: flex;
		padding-bottom: 20rpx;

		.productImage {
			width: 180rpx;
			height: 180rpx;
			border: 1px solid #fff;
			margin-right: 40rpx;
			position: relative;
			box-shadow: 1rpx 0rpx 10rpx rgba(0, 0, 0, 0.1);
		}

		.productInfo {
			color: #969799;
			width: 400rpx;
			font-size: 24rpx;

			.stock, .price, .property {
				margin-bottom: 10rpx;
			}

			.price {
				color: #F52D2D;
				font-size: 44rpx;
				display: flex;
				align-items: center;
				.currency{
					font-size: 24rpx;
					font-weight: normal;
				}
				.groupon{
					display: flex;
					align-items: center;
					.commander{
						font-size: 24rpx;
						padding-left: 10rpx;
					}
				}
			}
		}
	}

	.title {
		font-size: 28rpx;
		font-weight: bold;
		color: rgba(51, 51, 51, 1);
	}

	.titleHint {
		font-size: 16rpx;
		color: #ccc;
	}

	.quantity {
		display: flex;
		justify-content: space-between;
		border-top: 1rpx solid #ebedf0;
		padding: 30rpx 0;
		align-items: center;
		.rightWrap {
			display: flex;
			
			.least {
				display: flex;
				align-items: center;
				color: #E50000;
			}
		}
	}

	.actionSheetBtGroup {
		margin-top: 20rpx;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		z-index: 100;
		font-size: 0;
		display: flex;
		&.iphoneXTrick{
			padding-bottom: 40rpx;
		}

		.confirmBt {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			border-radius: 0;
			height: 90rpx;
			font-size: 28rpx;
			background-color: $mainColor;
			color: #fff;
			background-size: cover;
		}

		.secondaryBt {
			background-color: $secondColor;
		}
	}
	
	// 配送方式
	.deliveryStyle {
		.express {
			border-top: 1rpx solid #ebedf0;
			background: #fff;
			display: flex;
			flex-direction: column;
			font-size: 28rpx;
			
			.item-text {
				padding: 30rpx 0;
				font-size: 28rpx;
				color: rgba(51, 51, 51, 1);
				font-weight: bold;
			}
	
			.radio-group {
				display: flex;
				width: 100%;
	
				label {
					display: flex;
					align-items: center;
	
					.title {
						font-size: 28rpx;
						color: #000000;
						padding: 8rpx 40rpx 0 10rpx;
						font-weight: normal;
					}
	
					&:last-child .title {
						padding-right: 0;
					}
				}
			}
	
			/*  重写 radio 样式  */
			/* 未选中的 背景样式 */
			radio .wx-radio-input {
				border-radius: 50%;
				/* 圆角 */
				width: 36rpx;
				height: 36rpx;
			}
	
			/* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
			radio .wx-radio-input.wx-radio-input-checked {
				border: none;
				background: $mainColor;
				width: 40rpx;
				height: 40rpx;
			}
	
			/* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
			radio .wx-radio-input.wx-radio-input-checked::before {
				border-radius: 50%;
				/* 圆角 */
				width: 40rpx;
				/* 选中后对勾大小，不要超过背景的尺寸 */
				height: 40rpx;
				/* 选中后对勾大小，不要超过背景的尺寸 */
				line-height: 40rpx;
				text-align: center;
				font-size: 30rpx;
				/* 对勾大小 30rpx */
				color: #fff;
				/* 对勾颜色 白色 */
				background: transparent;
				transform: translate(-50%, -50%) scale(1);
				-webkit-transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
