@import "~styles/color";
@import "~styles/iconfont";
@import "~templates/loading/loading";

page {
	font-family: -apple-system, "Avenir Next", "helvetica neue", "helvetica",
		"arial", "hiragino sans gb", "stheiti";
	background-color: $backgroundColor;
	font-size: 12pt;
	color: $titleColor;
}

view,
image,
swiper,
textarea,
scroll-view,
input,
navigator,
video {
	box-sizing: border-box;
}

.container {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}
// .j-item {
// 	width: 100%;
// 	overflow: hidden;
// }
.img-lazyloaded {
	width: 100%;
	overflow: hidden;
	display: block;
}
.content img {
	width: 750rpx;
	overflow: hidden;
	margin-left: 5px;
}
.normalizeBt {
	border: none;
	background-color: transparent;
	display: block;
	font-size: 20rpx;
	color: $titleColor;

	&.disabledBt {
		background-color: #ccc !important;
		color: #fff;
	}
}

.normalizeBt::after {
	display: none;
}

.normalizeBt-hover {
	opacity: 0.5;
}

.navigator-hover {
	background-color: transparent;
}
.logo {
	display: flex;
	align-items: center;
	padding: 50rpx 0;
	font-size: 14px;
	color: #999;
	flex-direction: row;
	justify-content: center;
}
// .logo image {
// 	// width: 60rpx;
// 	// height: 60rpx;
// 	// margin-right: 30rpx;
// 	// margin-bottom: 0;
// 	width:40%;
// 	height:42rpx;
// 	margin:0 auto;
// }
button {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	border-radius: 0;
}
button::after {
	border: 0;
	outline: 0;
}
/*卡片*/
.alignnone {
	display: block;
	width: 100%;
}
.product-card {
	width: 90%;
	color: #333;
	padding: 20rpx;
	line-height: 1.4;
	margin: 40rpx auto;
	box-shadow: 2px 2px 12px #ccc;
	border-radius: 4px;
	height:280rpx;
}
.product-card-thumbnail {
	width: 240rpx;
	height: 240rpx;
	float: left;
}
.product-card-title .wxParse-inline {
	overflow: hidden; /*超出部分隐藏*/
	// white-space: nowrap; /*不换行*/
	-webkit-line-clamp: 2;
	text-overflow: ellipsis; /*超出部分文字以...显示*/
	font-size: 30rpx;
	font-weight: normal;
	color: $titleColor;
	// padding-left: 20rpx;
	margin-top: 0;
	width: 380rpx;
}
.product-card-except .wxParse-inline {
	overflow: hidden; /*超出部分隐藏*/
	white-space: nowrap; /*不换行*/
	text-overflow: ellipsis; /*超出部分文字以...显示*/
	font-size: 24rpx;
	color: $tagColor;
	// padding-left: 20rpx;
	// margin-bottom: 40rpx;
	width: 380rpx;
}
.product-card-meta {
	// float: left;
	display: flex;
	padding-left: 20rpx;
	padding-top: 25rpx;
}
.product-card-price {
	color: $priceColor;
	font-size: 18px;
	width: 240rpx;
	margin-top: 10rpx;
	padding-top: 30rpx;
}
.product-card-button {
	color: #fff;
	background: $mainColor;
	font-size: 24rpx;
	height: 48rpx;
	line-height: 48rpx;
	border-radius: 10rpx;
	width: 120rpx;
	text-align: center;
}

.displayNone {
	display: none !important;
}


.borderBottom {
	border-bottom: 4rpx solid $mainColor;
}

.isIphoneXClass {
	padding-bottom: 40rpx;
}

/*  重写 radio 样式  */
/* 未选中的 背景样式 */
radio .wx-radio-input{
	border-radius: 50%;/* 圆角 */
	width: 36rpx;
	height: 36rpx;
 }
 /* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
 radio .wx-radio-input.wx-radio-input-checked{
	border: none;
	background: $mainColor;
	width: 40rpx;
	height: 40rpx;
 }
 /* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
 radio .wx-radio-input.wx-radio-input-checked::before{
	border-radius: 50%;/* 圆角 */
	width: 40rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
	height: 40rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
	line-height: 40rpx;
	text-align: center;
	font-size: 30rpx; /* 对勾大小 30rpx */
	color:#fff; /* 对勾颜色 白色 */
	background: transparent;
	transform:translate(-50%, -50%) scale(1);
	-webkit-transform:translate(-50%, -50%) scale(1);
 }
