@import '~styles/color';

.couponItem {
	width: 700rpx;
	height: 180rpx;
	font-size: 0;
	position: relative;
	left: 0;
	top: 0;

	.couponInfo {
		position: absolute;
		z-index: 2;
		font-size: 9pt;
		color: #fff;
		display: flex;

		.left {
			width: 270rpx;
			height: 180rpx;
			// border-right: 1px solid blue;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			line-height: 1.2;
			flex-shrink: 0;

			.reduceCost {
				font-size: 20pt;
			}
		}

		.center {
			padding: 20rpx 0 20rpx 20rpx;
			color: #000;
			width: 300rpx;
			font-size: 7pt;
			display: flex;
			flex-direction: column;
			flex-shrink: 0;

			.desc {
				height: 80rpx;
				flex-grow: 1;
			}

			.date {
				display: flex;
				align-items: center;
			}
		}

		.right {
			flex-shrink: 0;
			padding: 20rpx 20rpx 20rpx 0;
			font-size: 7pt;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			&.center {
				justify-content: center;
			}

			.useBt {
				padding: 4rpx 10rpx;
				color: $priceColor;
				border: 1px solid $priceColor;
				border-radius: 100rpx;
			}

			.getBt {
				padding: 4rpx 10rpx;
				background-color: $priceColor;
				color: #fff;
			}
		}


	}

	.bg {
		width: 700rpx;
		height: 180rpx;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
}
