.member {
   margin: 20rpx;
   border-radius: 10rpx;
   height: 110rpx;
   position: relative;
   background-color: #729153;
   display: flex;
   align-items: center;
   padding-left: 40rpx;

   .background-image {
       width: 50rpx;
       height: 50rpx;
   }

    .text, .right {
        font-size: 24rpx;
        color: #fff;
    }

    .text {
        position: absolute;
        top: 38rpx;
        left: 120rpx;
    }

    .right {
        position: absolute;
        right: 40rpx;
        top: 38rpx;
    }
}