.container {
	.wallet-content {
		margin-top: 16rpx;
		padding: 38rpx 42rpx;
		background-color: #fff;
		.send-gift {
			.gift-item {
				padding: 36rpx 0;
				border-bottom: 1rpx solid #d4d4d4;
				.gift-detail {
					display: flex;
					margin-bottom: 22rpx;
					.gift-right {
						font-size: 28rpx;
						color: #333333;
						font-weight: bold;
						line-height: 40rpx;
						margin-left: 25rpx;
						.gift-buy-time {
							font-weight: normal;
							font-size: 20rpx;
							line-height: 28rpx;
							color: #707070;
							margin: 10rpx 0 14rpx;
						}
					}
				}
				.gift-btns {
					display: flex;
					.gift-btn {
						font-size: 24rpx;
						color: #707070;
						padding: 0 32rpx;
						line-height: 50rpx;
						border: 1rpx solid var(--primary-color, #013F56);
						box-sizing: border-box;
						background-color: #fff;
						border-radius: 50rpx;
					}
					.gift-status {
						display: flex;
						justify-content: center;
						.gift-reveive-status {
							font-size: 24rpx;
							color: #707070;
							line-height: 50rpx;
						}
						.gift-btn {
							margin-left: 40rpx;
							color: white;
							background-color: var(--primary-color, #013F56);
						}
					}
					.gift-btn-detail {
						margin: 0 14rpx 0 auto ;
					}
				}
			}
		}
		.receive-gift {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 20rpx;
			.receive-item {
				position: relative;
				width: 320rpx;
				height: 240rpx;
				box-shadow: 0rpx 3rpx 6rpx rgba(0, 0, 0, 0.16);
				border-radius: 10rpx;
				overflow: hidden;
				.receive-card-title {
					font-size: 28rpx;
					color: #707070;
					line-height: 60rpx;
					text-align: center;
				}
				.img-shade {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					height: 180rpx;
					line-height: 180rpx;
					text-align: center;
					background-color: rgba(0, 0, 0, 0.5);
					color: white;
				}
			}
		}
	}
}