.container {
	padding: 36rpx;

	.user-item{
		padding: 18rpx 0;
		border-bottom: 1rpx solid #D4D4D4;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 26rpx;
		.left-content{
			display: flex;
			align-items: center;
			.head-image{
				display: flex;
				align-items: flex-end;
				.img{
					width: 80rpx;
					height: 80rpx;
					border-radius: 50%;
				}
				.win-icon{
					height: 30rpx;
					width: 30rpx;
					border-radius: 50%;
					margin-left: -10rpx;
				}
			}
			.name{
				margin-left: 20rpx;
			}
		}
	}

	.is-final{
		padding: 30rpx;
    text-align: center;
    font-size: 24rpx;
	}
	.none-list{
		text-align: center;
    font-size: 28rpx;
	}
}
