.container {
	padding: 36rpx;

	.user-item{
		padding: 18rpx 0;
		border-bottom: 1rpx solid #D4D4D4;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 26rpx;
		.left-content{
			display: flex;
			align-items: center;
			.head-image{
				width: 80rpx;
				height: 80rpx;
				.img{
					height: 100%;
					width: 100%;
					border-radius: 50%;
				}
			}
			.name{
				margin-left: 20rpx;
			}
		}
	}

	.is-final{
		padding: 30rpx;
    text-align: center;
    font-size: 24rpx;
	}
}
