page{background: #FFFFFF}
.coinList{
    display: flex;
    justify-content: space-between;
    padding: 20rpx 40rpx;
    border-bottom: 1rpx solid #E0E0E0;
    background: #FFFFFF;
    font-size: 28rpx;

    .time{
        font-size: 24rpx;
        padding-top: 10rpx;
    }
   
    .coinNum{
        height: 80rpx;
        line-height: 80rpx;
        color: #F52D2D;
        font-size: 24rpx;
    }
    .decreaseNum{ color: green}
}

.noHint {
    text-align: center;
    color: #9fa0a0;
    width: 100%;
    padding-top: 100rpx;
    height: 100%; 
}