@import './templates/smallPic/smallPic';
@import './templates/bigPic/bigPic';

.section {
	background-color: #ffffff;
	padding-top: 10rpx;
	.sectionTitle {
		font-size: 35rpx;
		font-weight: bold;
		padding: 26rpx 25rpx 0;
		text-align: center;
	}

	.sectionMore {
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;

		.moreButton {
			font-size: 28rpx;
			color: #707070;
		}

		.rightIcon {
			width: 20rpx;
			height: 20rpx;
			margin-left: 10rpx;
		}
	}
}
.top-radius {
	border-top-left-radius: 10rpx;
	border-top-right-radius: 10rpx;
}
.bottom-radius {
	border-bottom-right-radius: 10rpx;
	border-bottom-left-radius: 10rpx;
}