.infos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 15rpx;
	background-color: #fff;
	border-radius: 10rpx;
	.info-btn {
		line-height: initial;
		background-color: initial;
		margin: 12rpx 8rpx;
		padding: 12rpx 0;
		// 兼容不支持栅格布局的环境
		display: inline-block;
		min-width: 22%;
		&.btn-hover {
			background-color: #f8f8f8;
		}
		.info-img {
			line-height: 1;
			background-color: transparent;
		}
		.info-title {
			line-height: 2;
			font-size: 22rpx;
			color: #333333;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}
.info-count{
	width: 30rpx;
	height: 30rpx;
	border-radius: 50%;
	font-size: 20rpx;
	color: #fff;
	text-align: center;
	line-height: 30rpx;
	background-color: #fc2732;
	position: absolute;
	right: 36rpx;
	top: 2rpx;
	z-index: 2;
}