.infos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 15rpx 20rpx;
	background-color: #fff;
	border-radius: 5rpx;
	.info-btn {
		line-height: initial;
		background-color: initial;
		margin: 12rpx 8rpx;
		padding: 12rpx 0;
		&.btn-hover {
			background-color: #f8f8f8;
		}
		.info-img {
			line-height: 1;
			background-color: transparent;
		}
		.info-title {
			line-height: 2;
			font-size: 22rpx;
			color: #333333;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}