@import '~styles/color';

$footerHeight: 100rpx;
$color: #595757;

.container {
	margin-bottom: $footerHeight + 40rpx;
	color: $color;
}

.section {
	background-color: #fff;
	margin-bottom: 10rpx;
	padding: 20rpx;
	font-size: 10pt;
	color: $color;

	.sectionTitle {
		padding-bottom: 10rpx;
		border-bottom: 1px solid #eee;
	}
}

.head {
	display: flex;
	justify-content: space-between;
	font-size: 8pt;
}

.list {
	margin-top: 40rpx;

	.listHead {
		font-size: 10pt;
		display: flex;
		justify-content: space-between;
	}

	.sellectAll {
		display: flex;
		align-items: center;
	}
}

.radio {
	$size: 32rpx;

	height: $size;
	width: $size;
	margin-right: 20rpx;
	flex-shrink: 0;
	border: 1px solid $mainColor;
	border-radius: 50%;
	line-height: $size;
	text-align: center;

	&.selected {
		background-color: $mainColor;
	}

	.radioIcon {
		$iconSize: 24rpx;

		height: $iconSize;
		width: $iconSize;
	}
}

.productItem {
	$imageSize: 150rpx;

	display: flex;
	align-items: center;
	padding: 20rpx;
	margin-bottom: 1px solid #eee;
	background-color: #fff;
	margin-bottom: 5rpx;
	font-size: 9pt;

	.itemImage {
		height: $imageSize;
		width: $imageSize;
		margin-right: 60rpx;
		flex-shrink: 0;
		margin-left: 20rpx;
	}

	.propertyNames {
		color: $originalPriceColor;
		font-size: 8pt;
		margin: 10rpx 0;
	}

	.price {
		font-size: 10pt;
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 10pt;
		width: 100%;
		min-height: $imageSize;
		align-self: flex-start;
	}

	.meta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	.metaRight {
		display: flex;
		align-items: flex-end;
	}

	.delete {
		margin-left: 10rpx;
		line-height: 1;
		color: #ccc;
	}
}

.refundType {
	display: flex;
	align-items: center;
	font-size: 10pt;

	.refundTitle {
		margin-right: 20rpx;
	}

	.refundTypeItem {
		display: flex;
		align-items: center;
		margin-left: 20rpx;
	}

	.radioWrapper {
		font-size: 0;
	}
}

.textarea {
	padding: 20rpx 0;
	width: 100%;
	height: 120rpx;
}

.textarea-placeholder {
	color: $originalPriceColor;
}

.uploadGroup {
	display: flex;

	.uploadItem {
		margin-right: 20rpx;
		margin-top: 20rpx;
		font-size: 8pt;
		position: relative;
		left: 0;
		top: 0;
		// height: $size;
		// width: 100%;

		.imageItem {
			$size: 120rpx;

			height: $size;
			width: $size;
			border: 1px solid $originalPriceColor;
		}

		.deleteIcon {
			$size: 30rpx;

			width: $size;
			height: $size;
			position: absolute;
			top: 0;
			right: 0;
			margin-right: -$size / 2;
			margin-top: -$size / 2;
			z-index: 9;
		}
	}

	.addImage {
		$size: 120rpx;

		height: $size;
		width: $size;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		display: flex;
		border: 1px solid $originalPriceColor;
	}
}


.footer {
	height: $footerHeight;
	line-height: $footerHeight;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $mainColor;
	color: #fff;
}
