@import '~styles/color';
@import '~templates/couponItem/couponItem';

.container {
	// padding: 20rpx;
}

.statusBar {
	$height: 80rpx;

	background-color: $mainColor;
	color: #fff;
	font-size: 10pt;
	height: $height;

	.statusItem {
		width: 50%;
		display: inline-block;
		text-align: center;
	}

	.statusItemName {
		margin: 0 auto;
		height: $height;
		line-height: $height;
		display: inline-block;

		&.selected {
			border-bottom: 4px solid #fff;
		}
	}
}

.emptyHint {
	padding-top: 320rpx;
	color: #ccc;
	font-size: 12pt;
	text-align: center;

	.couponBt {
		width: 600rpx;
		background-color: $mainColor;
		color: #fff;
		margin: 40rpx auto 0 auto;
		padding: 20rpx 0;
	}
}

.couponList {
	padding: 25rpx;

	.couponItemWrapper {
		margin-bottom: 25rpx;
	}
}

.cofirmBt {
	margin-top: 100rpx;
	width: 240rpx;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 9pt;
	color: #fff;
	border-radius: 0;
	background-color: $couponMainColor;
}
